<div class="col-xs-12" ng-if="!moreList">
    <div class="col-xs-6 margin_top3">
        <div class="col-xs-12"
             style="border: 1px solid #dcd2d2;background-color: #f2f2f2; border-bottom: none;border-radius: 4px">
            <div class="col-xs-10">
                总承包资质标准
            </div>
            <div class="col-xs-2" ng-click="goToMore('总承包')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content">
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 margin_top3">
        <div class="col-xs-12"
             style="border: 1px solid #dcd2d2;background-color: #f2f2f2; border-bottom: none;border-radius: 4px">
            <div class="col-xs-10">
                专业承包资质标准
            </div>
            <div class="col-xs-2" ng-click="goToMore('专业承包')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content">
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 margin_top3">
        <div class="col-xs-12"
             style="border: 1px solid #dcd2d2;background-color: #f2f2f2; border-bottom: none;border-radius: 4px">
            <div class="col-xs-10">
                劳务分包资质标准
            </div>
            <div class="col-xs-2" ng-click="goToMore('劳务分包')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content">
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 margin_top3">
        <div class="col-xs-12"
             style="border: 1px solid #dcd2d2;background-color: #f2f2f2; border-bottom: none;border-radius: 4px">
            <div class="col-xs-10">
                安全生产许可证
            </div>
            <div class="col-xs-2" ng-click="goToMore('安全生产')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content">
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 margin_top3">
        <div class="col-xs-12"
             style="border: 1px solid #dcd2d2;background-color: #f2f2f2; border-bottom: none;border-radius: 4px">
            <div class="col-xs-10">
                房地产开发资质
            </div>
            <div class="col-xs-2" ng-click="goToMore('房地产')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content">
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 margin_top3">
        <div class="col-xs-12"
             style="border: 1px solid #dcd2d2;background-color: #f2f2f2; border-bottom: none;border-radius: 4px">
            <div class="col-xs-10">
                园林绿化资质
            </div>
            <div class="col-xs-2" ng-click="goToMore('园林绿化')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content">
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 margin_top3">
        <div class="col-xs-12"
             style="border: 1px solid #dcd2d2;background-color: #f2f2f2; border-bottom: none;border-radius: 4px">
            <div class="col-xs-10">
                设计资质标准
            </div>
            <div class="col-xs-2" ng-click="goToMore('设计资质')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content">
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 margin_top3">
        <div class="col-xs-12"
             style="border: 1px solid #dcd2d2;background-color: #f2f2f2; border-bottom: none;border-radius: 4px">
            <div class="col-xs-10">
                其他资质
            </div>
            <div class="col-xs-2" ng-click="goToMore('其他资质')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content">
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-xs-12" ng-if="moreList">
    <div class="col-xs-12 margin_top3">
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content">
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
                <li><a href="" class="text-black">助推扶贫攻坚服务三农 <span class="pull-right">2017-08-23 09:30:23</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>