<div id="basicInfo" class="col-xs-12 margin_top2 cancel_col_padding" >
    <div class="col-xs-12 background_white docu_content" style="margin-top: -1%" multiple-form cue-way="layer" result="issued()">
        <div class="row docu_content_bottom">
            <div class="row col-xs-12">
                <div class="col-xs-4 margin_top2 text-right line_height_30">
                    <div class="col-xs-4 col-xs-offset-1">发放机构</div>
                    <div class="col-xs-7">
                        <input class="form-control input-sm" value="{{user.comName}}" readonly/>
                    </div>
                </div>
                <div class="col-xs-4 margin_top2 text-right line_height_30">
                    <div class="col-xs-4 ">下发人</div>
                    <div class="col-xs-7">
                        <input class="form-control input-sm" value="{{user.name}}" readonly/>
                    </div>
                </div>
                <div class="col-xs-4 margin_top2 text-right line_height_30">
                    <div class="col-xs-4 ">下发日期</div>
                    <div class="col-xs-7">
                        <input class="form-control input-sm" value="{{nowTime}}" readonly/>
                    </div>
                </div>
            </div>
            <div class="row col-xs-12">
                <div class="col-xs-4 margin_top2 text-right line_height_30">
                    <div class="col-xs-4 col-xs-offset-1">保险公司</div>
                    <div class="col-xs-7">
                        <select class="form-control input-sm ng-pristine ng-valid" ng-change="queryDocumentName()"
                                ng-model="documentXF.supplierCode" rule="require" err-text="请选择保险公司"
                                value="{{documentXF.supplierCode}}"
                                ng-options="insurer.supplierCode as insurer.supplierName for insurer in ListOfInsurers">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 margin_top2 text-right line_height_30">
                    <div class="col-xs-4">单证名称</div>
                    <div class="col-xs-7">
                        <select class="form-control input-sm ng-pristine ng-valid" ng-model="document"
                                rule="require" err-text="请选择单位名称" value="{{documentXF.certifyCode}}"
                                ng-change="certifyLength(document)"
                                ng-options="document as document.certifyName for document in ListOfQueryDocumentName">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 margin_top2 text-right line_height_30">
                    <div class="col-xs-4">起始号码({{documentXF.certifyLength}})位</div>
                    <div class="col-xs-7" style="margin-right: -8.33333333%">
                        <input class="form-control input-sm" ng-change="calculatedQuantity()"
                               rule="require;{{documentXF.certifyLength?documentXF.certifyLength>0?'minLength:'+documentXF.certifyLength:'':''}}"
                               err-text="请输入单证起始号码" maxlength="{{documentXF.certifyLength}}"
                               ng-model="documentXF.startNo"/>
                    </div>
                </div>
            </div>
            <div class="row col-xs-12">
                <div class="col-xs-4 margin_top2 text-right line_height_30">
                    <div class="col-xs-4 col-xs-offset-1">终止号码({{documentXF.certifyLength}})位</div>
                    <div class="col-xs-7">
                        <input class="form-control input-sm" ng-change="calculatedQuantity()" ng-model="documentXF.endNo"
                               rule="require;{{documentXF.certifyLength?documentXF.certifyLength>0?'minLength:'+documentXF.certifyLength:'':''}}"
                               err-text="请输入单证终止号码" maxlength="{{documentXF.certifyLength}}"/>
                    </div>
                </div>
                <div class="col-xs-4 margin_top2 text-right line_height_30">
                    <div class="col-xs-4">接收机构</div>
                    <div class="col-xs-7">
                        <select class="form-control input-sm ng-pristine ng-valid"
                                ng-options="fdCom as fdCom.comName for fdCom in fdComs"
                                rule="require" err-text="请选择接收机构" value="{{documentXF.fdCom}}"
                                ng-model="documentXF.fdCom"
                                ng-change="cascadingDisplay()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 margin_top2 text-right line_height_30">
                    <div class="col-xs-4 ">领用人</div>
                    <div class="col-xs-7">
                        <input class="form-control input-sm" ng-model="tarAgent.agentCodeOrName"
                               ng-change="cascadingDisplay()"
                               ng-focus="tarAgent.isOpen=true" ng-blur="isBlur()"/>
                        <!-- 弹窗 -->
                        <div class="float_frame" ng-show="tarAgent.isOpen">
                            <div class="float_frame_div" ng-mouseover="tarAgent.isFocusSelect = true"
                                 ng-mouseout="tarAgent.isFocusSelect = false">
                                <div class="col-xs-12 float_frame_item padding_0" ng-repeat="item in cascadingDisplays"
                                     ng-click="setTarAgentCode(item)">
                                    <div class="col-xs-4 padding_0 text-center">{{item.name}}</div>
                                    <div class="col-xs-8 padding_0 text-center">{{item.agentCode}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center docu_content_head" >
            <button class="btn" style="background-color: #F5A602;font-size: 12px;" isComplete>单证下发</button>
        </div>
        <!--<div class="col-xs-6 margin_top2 text-right line_height_30">-->
            <!--<div class="col-xs-3 col-xs-offset-2">发放机构</div>-->
            <!--<div class="col-xs-6">-->
                <!--<input class="form-control input-sm" value="{{user.comName}}" readonly/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 margin_top2 text-right line_height_30">-->
            <!--<div class="col-xs-3 ">下发人</div>-->
            <!--<div class="col-xs-6">-->
                <!--<input class="form-control input-sm" value="{{user.name}}" readonly/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 margin_top2 text-right line_height_30">-->
            <!--<div class="col-xs-3 col-xs-offset-2">下发日期</div>-->
            <!--<div class="col-xs-6">-->
                <!--<input class="form-control input-sm" value="{{nowTime}}" readonly/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 margin_top2 text-right line_height_30">-->
            <!--<div class="col-xs-3">保险公司</div>-->
            <!--<div class="col-xs-6">-->
                <!--<select class="form-control input-sm ng-pristine ng-valid" ng-change="queryDocumentName()"-->
                        <!--ng-model="documentXF.supplierCode" rule="require" err-text="请选择保险公司"-->
                        <!--value="{{documentXF.supplierCode}}"-->
                        <!--ng-options="insurer.supplierCode as insurer.supplierName for insurer in ListOfInsurers">-->
                    <!--<option value="">请选择</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 margin_top2 text-right line_height_30">-->
            <!--<div class="col-xs-3 col-xs-offset-2">单证名称</div>-->
            <!--<div class="col-xs-6">-->
                <!--<select class="form-control input-sm ng-pristine ng-valid" ng-model="document"-->
                        <!--rule="require" err-text="请选择单位名称" value="{{documentXF.certifyCode}}"-->
                        <!--ng-change="certifyLength(document)"-->
                        <!--ng-options="document as document.certifyName for document in ListOfQueryDocumentName">-->
                    <!--<option value="">请选择</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 margin_top2 text-right line_height_30">-->
            <!--<div class="col-xs-3">起始号码({{documentXF.certifyLength}})位</div>-->
            <!--<div class="col-xs-6">-->
                <!--<input class="form-control input-sm" ng-change="calculatedQuantity()"-->
                       <!--rule="require;{{documentXF.certifyLength?documentXF.certifyLength>0?'minLength:'+documentXF.certifyLength:'':''}}"-->
                       <!--err-text="请输入单证起始号码" maxlength="{{documentXF.certifyLength}}"-->
                       <!--ng-model="documentXF.startNo"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 margin_top2 text-right line_height_30">-->
            <!--<div class="col-xs-3 col-xs-offset-2">终止号码({{documentXF.certifyLength}})位</div>-->
            <!--<div class="col-xs-6">-->
                <!--<input class="form-control input-sm" ng-change="calculatedQuantity()" ng-model="documentXF.endNo"-->
                       <!--rule="require;{{documentXF.certifyLength?documentXF.certifyLength>0?'minLength:'+documentXF.certifyLength:'':''}}"-->
                       <!--err-text="请输入单证终止号码" maxlength="{{documentXF.certifyLength}}"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 margin_top2 text-right line_height_30">-->
            <!--<div class="col-xs-3">接收机构</div>-->
            <!--<div class="col-xs-6">-->
                <!--<select class="form-control input-sm ng-pristine ng-valid"-->
                        <!--ng-options="fdCom as fdCom.comName for fdCom in fdComs"-->
                        <!--rule="require" err-text="请选择接收机构" value="{{documentXF.fdCom}}"-->
                        <!--ng-model="documentXF.fdCom"-->
                        <!--ng-change="cascadingDisplay()">-->
                    <!--<option value="">请选择</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 margin_top2 text-right line_height_30">-->
            <!--<div class="col-xs-3 col-xs-offset-2">领用人</div>-->
            <!--<div class="col-xs-6">-->
                <!--<input class="form-control input-sm" ng-model="tarAgent.agentCodeOrName"-->
                       <!--ng-change="cascadingDisplay()"-->
                       <!--ng-focus="tarAgent.isOpen=true" ng-blur="isBlur()"/>-->
                <!--&lt;!&ndash; 弹窗 &ndash;&gt;-->
                <!--<div class="float_frame" ng-show="tarAgent.isOpen">-->
                    <!--<div class="float_frame_div" ng-mouseover="tarAgent.isFocusSelect = true"-->
                         <!--ng-mouseout="tarAgent.isFocusSelect = false">-->
                        <!--<div class="col-xs-12 float_frame_item padding_0" ng-repeat="item in cascadingDisplays"-->
                             <!--ng-click="setTarAgentCode(item)">-->
                            <!--<div class="col-xs-4 padding_0 text-center">{{item.name}}</div>-->
                            <!--<div class="col-xs-8 padding_0 text-center">{{item.agentCode}}</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-xs-12 margin_left_1" ng-if="documents&&documents.length">
            <table class="operateTable table table-responsive table-condensed table-bordered table_center">
                <tr>
                    <th class="neptune_table_th">序号</th>
                    <th class="neptune_table_th" style="width: 8%">单证名称</th>
                    <th class="neptune_table_th" style="width: 16%">保险公司</th>
                    <th class="neptune_table_th">发放机构</th>
                    <th class="neptune_table_th">下发人</th>
                    <th class="neptune_table_th" style="width: 12%">接收机构</th>
                    <th class="neptune_table_th">领用人</th>
                    <th class="neptune_table_th">起始号码</th>
                    <th class="neptune_table_th">终止号码</th>
                    <th class="neptune_table_th">份数</th>
                    <th class="neptune_table_th">操作人</th>
                    <th class="neptune_table_th">操作时间</th>
                    <th class="neptune_table_th">状态</th>
                    <th class="neptune_table_th" width="8%">操作</th>
                </tr>
                <tr ng-repeat="document in documents">
                    <td>{{$index+1}}</td>
                    <td class="neptune_orders_show">{{document.certifyName}}</td>
                    <td class="neptune_orders_show">{{document.supplierName}}</td>
                    <td class="neptune_orders_show">{{document.sendComName}}</td>
                    <td>{{document.sendName}}</td>
                    <td class="neptune_orders_show">{{document.resComName}}</td>
                    <td>{{document.resName}}</td>
                    <td>{{document.startNo}}</td>
                    <td>{{document.endNo}}</td>
                    <td>{{document.sumCount}}</td>
                    <td>{{document.oprName}}</td>
                    <td>{{document.makeDate}}</td>
                    <td>{{document.state}}</td>
                    <td>
                        <div class="hand font_color_black1" ng-click="documentsToCancel(document.serialNo)">撤销</div>
                    </td>
                </tr>
            </table>
        </div>
        <!--分页-->
        <div ng-if="documents&&documents.length"
             class="col-xs-12 row margin_top2 text-center background_white margin_left0">
            <pagination
                    ng-model="pagination.pageIndex"
                    total-items="pagination.totalItems"
                    page="pagination.pageIndex"
                    items-per-page="pagination.pageSize"
                    max-size="pagination.maxSize"
                    previous-text="{{pagination.previousText}}"
                    next-text="{{pagination.nextText}}"
                    first-text="{{pagination.firstText}}"
                    last-text="{{pagination.lastText}}"
                    class="pagination-small"
                    boundary-links="true"
                    ng-click="getCertifyProvides()">
            </pagination>
        </div>
        <div ng-show="!documents||!documents.length" class="text-center"
             style="font-size: 30px;margin-top: 2%;background:#EEEEEE ">没有单证下发的数据
        </div>
    </div>
</div>
