<!--单证管理首页-->
<div class="col-xs-12 full_height cancel_col_padding neptune_userCenter_color">
    <header></header>
    <div class="background_white margin_top_10 text-center">
        <mc-text-switch c-texts="texts" c-on-switch="switchOrder(text)"
                        c-color-class="yellow1">
        </mc-text-switch>
    </div>
    <!--<div class="col-xs-2 margin_top1 cancel_col_padding" ng-style="menuHeight">-->
    <!--<div class="col-xs-12  docu_Statistics_width98">-->
    <!--&lt;!&ndash;选择栏&ndash;&gt;-->
    <!--<div class="background_white docu_nav">-->
    <!--<div class="padding_top5 neptune_basic_cursor color_gray row margin_top_30 "-->
    <!--ng-if="user.auth_id.indexOf('5')!=-1"-->
    <!--ng-class="{font_color_black1:active=='documentsRK'}"-->
    <!--ng-click="switchView('documentsRK')">-->
    <!--<img src="assets/img/cashRegister.png" class="neptune_small_img"-->
    <!--ng-if="active!='documentsRK'"/>-->
    <!--<img src="assets/img/cashRegister_o.png" class="neptune_small_img"-->
    <!--ng-if="active=='documentsRK'"/>-->
    <!--<div class="neptune_color_div">单证入库</div>-->
    <!--</div>-->
    <!--<div class="padding_top5 neptune_basic_cursor color_gray row margin_top_30"-->
    <!--ng-class="{font_color_black1:active=='documentsXF'}"-->
    <!--ng-click="switchView('documentsXF')">-->
    <!--<img src="assets/img/cashRegister.png" class="neptune_small_img"-->
    <!--ng-if="active!='documentsXF'"/>-->
    <!--<img src="assets/img/cashRegister_o.png" class="neptune_small_img"-->
    <!--ng-if="active=='documentsXF'"/>-->
    <!--<div class="neptune_color_div">单证下发</div>-->
    <!--</div>-->
    <!--<div class="padding_top5 neptune_basic_cursor color_gray row margin_top_30"-->
    <!--ng-class="{font_color_black1:active=='documentsJS'}"-->
    <!--ng-click="switchView('documentsJS')">-->
    <!--<img src="assets/img/cashRegister.png" class="neptune_small_img"-->
    <!--ng-if="active!='documentsJS'"/>-->
    <!--<img src="assets/img/cashRegister_o.png" class="neptune_small_img"-->
    <!--ng-if="active=='documentsJS'"/>-->
    <!--<div class="neptune_color_div">单证接收</div>-->
    <!--</div>-->
    <!--<div class="padding_top5 neptune_basic_cursor color_gray row margin_top_30"-->
    <!--ng-class="{font_color_black1:active=='mDocuments'}"-->
    <!--ng-click="switchView('mDocuments')">-->
    <!--<img src="assets/img/cashRegister.png" class="neptune_small_img"-->
    <!--ng-if="active!='mDocuments'"/>-->
    <!--<img src="assets/img/cashRegister_o.png" class="neptune_small_img"-->
    <!--ng-if="active=='mDocuments'"/>-->
    <!--<div class="neptune_color_div">我的单证</div>-->
    <!--</div>-->
    <!--<div class="padding_top5 neptune_basic_cursor color_gray row margin_top_30"-->
    <!--ng-if="user.auth_id.indexOf('6')!=-1"-->
    <!--ng-class="{font_color_black1:active=='confirm'}"-->
    <!--ng-click="switchView('confirm')">-->
    <!--<img src="assets/img/cashRegister.png" class="neptune_small_img"-->
    <!--ng-if="active!='confirm'"/>-->
    <!--<img src="assets/img/cashRegister_o.png" class="neptune_small_img"-->
    <!--ng-if="active=='confirm'"/>-->
    <!--<div class="neptune_color_div">上交确认</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--单证入库-->
    <div ng-if="isSwitchOrder=='0'" ng-include="'docuStatistics/documentsRK.html'"
         ng-controller="documentsRKCtrl"></div>
    <!--单证下发-->
    <div ng-if="isSwitchOrder=='1'" ng-include="'docuStatistics/documentsXF.html'"
         ng-controller="documentsXFCtrl"></div>
    <!--单证接收-->
    <div ng-if="isSwitchOrder=='2'" ng-include="'docuStatistics/documentsJS.html'"
         ng-controller="documentsJSCtrl"></div>
    <!--我的单证-->
    <div ng-if="isSwitchOrder=='3'" ng-include="'docuStatistics/mDocuments.html'"
         ng-controller="mDocumentsCtrl"></div>
    <!--上交确认-->
    <div ng-if="isSwitchOrder=='4'" ng-include="'docuStatistics/confirm.html'"
         ng-controller="confirmCtrl"></div>
</div>