<div class="col-xs-12" style="padding:0">
    <div class="col-xs-12" style="padding:0">
        <header></header>
        <div class="col-xs-12 background_gray2" style="margin-top: 20px">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 background_white" style="margin-bottom: 4%">
                <div class="col-xs-12 text-center" style="margin: 10px 0">
                    <div mc-step-guide step="1">
                        <ul>
                            <li>填写信息</li>
                            <li>支付</li>
                            <li>完成投保</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 text-left" style="padding:0 10px">
                    <div class="col-xs-12 text-left background_white"
                         style="margin: 10px 0;padding:0 10px;border:solid 1px #bbb;">
                        <div class="col-xs-12 text-left" style="line-height: 50px;padding: 0">
                            <div class="col-xs-4 color_green">
                                我的收藏
                            </div>
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4 text-right" style="padding-right: 10px;">
                                <!--<a class="btn btn_type_default" ng-class="{btn_type_change:choose=='collectProducts'}"-->
                                <!--ng-click="choose='collectProducts'">我的收藏</a>-->
                                <a class="btn btn_type_default" ng-class="{btn_type_change:choose=='allProducts'}"
                                   ng-click="goProducts()">产品筛选>></a>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding:0;margin:0">
                            <hr style="margin: 0;padding:0;"/>
                        </div>
                        <div class="col-xs-12" style="padding: 0;overflow-y: auto;max-height: 300px;">
                            <div class="col-xs-3" style="height:130px;" ng-if="products&&products.length>0"
                                 ng-click="chooseProduct($index,product,true)"
                                 ng-repeat="product in products">
                                <div style="height: 85%" class="product_choose_default product_content">
                                    <div class="col-xs-12 background_white"
                                         style="padding:0;">
                                        <div class="col-xs-12" style="padding:10px 10px 0 10px">
                                            <div class="col-xs-8 font_size_8 line_height_30 neptune_products_title_width">
                                                {{product.productName}}
                                            </div>
                                            <div class="col-xs-4 text-right"></div>
                                            <div class="col-xs-12" style="padding:0;">
                                                <hr style="margin: 0"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 hand">
                                            <div class="col-xs-6" style="padding:0;padding-top:5px;color:#989898">
                                                {{product.productShortDesc}}
                                            </div>
                                            <div class="col-xs-6 text-right font_size_16"
                                                 style="padding-right: 15px;margin-top: 5px">
                                                ￥{{product.premium}}
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-12 text-left margin_top_10"
                                                 style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;padding: 0;color: #BEBEBE">
                                                {{product.supplierShortName}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!products||products.length===0" class="col-xs-12 background_white text-center"
                                 style="padding:10px;">
                                请到产品列表进行收藏
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="waitRenewOrders.length" style="width: 100%;overflow-y: auto;max-height: 200px;">
                    <table class="table operateTable table-bordered table_center"
                           style="width: 94%;table-layout: fixed;margin-left: 3%;margin-top: 2px">
                        <tr>
                            <th class="neptune_table_th" style="width: 180px">保单号</th>
                            <th class="neptune_table_th">投保人姓名</th>
                            <th class="neptune_table_th">保险产品</th>
                            <th class="neptune_table_th">购买日期</th>
                            <th class="neptune_table_th">有效期</th>
                            <th class="neptune_table_th" style="width: 200px">地址</th>
                            <th class="neptune_table_th">保费</th>
                            <th class="neptune_table_th">操作</th>
                        </tr>
                        <tr ng-repeat="waitRenewOrder in waitRenewOrders">
                            <td style="color: blue;cursor: pointer;"
                                ng-click="openOrderDetails(waitOperateOrder.orderId,'保单')">{{waitRenewOrder.policyNo}}
                            </td>
                            <td>{{waitRenewOrder.applicantName}}</td>
                            <td class="neptune_orders_show">{{waitRenewOrder.productName}}</td>
                            <td class="neptune_orders_show">{{waitRenewOrder.createDate.split(" ")[0]}}</td>
                            <td class="neptune_orders_show">{{waitRenewOrder.effectiveDate.split(" ")[0]}} -
                                {{waitRenewOrder.expiryDate.split(" ")[0]}}
                            </td>
                            <td class="neptune_orders_show">{{waitRenewOrder.applicantAddress}}</td>
                            <td>{{waitRenewOrder.orderTotal}}</td>
                            <td ng-click="renewal(waitRenewOrder.productId,waitRenewOrder.orderId)"
                                style="color: blue;cursor: pointer;">续保
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 text-left" style="padding:0 10px">
                    <div class="col-xs-12" style="margin: 10px 0;padding:0 10px;border:solid 1px #bbb;">
                        <div class="col-xs-12 text-left color_green background_white" style="margin: 10px 0">
                            房屋信息搜索
                        </div>
                        <div class="col-xs-12" style="padding:0;margin:0">
                            <hr style="margin: 0;padding:0;"/>
                        </div>
                        <div class="col-xs-12 text-left" style="margin: 10px 0;padding:0 10px 10px 0">
                            <div class="col-xs-4"
                                 style="margin: 5px 0 0 0;">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    <span class="color_red">*</span>城市
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control full_width hand"
                                           ng-model="searchKeyWords.city"
                                           value="{{searchKeyWords.city}}"
                                           ng-click="openSearchPopup('city')"
                                           onfocus="this.blur()"
                                           placeholder="请选择所在城市"/>
                                </div>
                            </div>
                            <div class="col-xs-4"
                                 style="margin: 5px 0 0 0;">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    <span class="color_red">*</span>小区
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control full_width hand"
                                           ng-model="searchKeyWords.village"
                                           value="{{searchKeyWords.village}}"
                                           ng-click="openSearchPopup('village')"
                                           onfocus="this.blur()"
                                           placeholder="请选择所在小区"/>
                                </div>
                            </div>
                            <div class="col-xs-4"
                                 style="margin: 5px 0 0 0;">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    <span class="color_red">*</span>楼栋
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control full_width hand"
                                           ng-model="searchKeyWords.building"
                                           value="{{searchKeyWords.building}}"
                                           ng-click="openSearchPopup('building')"
                                           onfocus="this.blur()"
                                           placeholder="请选择所在楼栋"/>
                                </div>
                            </div>
                            <div class="col-xs-4"
                                 style="margin: 5px 0 0 0;">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    单元
                                </div>
                                <div class="col-xs-8">
                                    <select type="text" class="form-control full_width"
                                            ng-model="searchKeyWords.unit"
                                            ng-change="searchCity('roomNumberChange')"
                                            ng-options="unit as unit for unit in searchKeyWords.units">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4"
                                 style="margin: 5px 0 0 0;">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    房间号
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control full_width hand"
                                           ng-model="searchKeyWords.roomNumber"
                                           value="{{searchKeyWords.roomNumber}}"
                                           ng-click="openSearchPopup('roomNumber')"
                                           onfocus="this.blur()"
                                           placeholder="请选择所在房间号"/>
                                </div>
                            </div>
                            <div class="col-xs-4"
                                 style="margin: 5px 0 0 0;">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    姓名
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control full_width"
                                           ng-model="searchKeyWords.userName"
                                           value="{{searchKeyWords.userName}}"
                                           placeholder="请输入姓名"/>
                                </div>
                            </div>
                            <div class="col-xs-4"
                                 style="margin: 5px 0 0 0;">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    房产号
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control full_width"
                                           ng-model="searchKeyWords.houseNumber"
                                           value="{{searchKeyWords.houseNumber}}"
                                           placeholder="请输入房产号"/>
                                </div>
                            </div>
                            <div class="col-xs-4"
                                 style="margin: 5px 0 0 0;">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    业务合作伙伴
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control full_width"
                                           onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/"
                                           ng-model="searchKeyWords.partner"
                                           value="{{searchKeyWords.partner}}"
                                           maxlength="10"
                                           placeholder="请输入业务合作伙伴"/>
                                </div>
                            </div>
                            <div class="col-xs-4"
                                 style="margin: 5px 0 0 0;">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    身份证
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control full_width"
                                           ng-model="searchKeyWords.cardNo"
                                           value="searchKeyWords.cardNo"
                                           placeholder="请输入身份证"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center" style="margin: 10px 0;padding:0 10px 10px 0">
                            <button class="btn btn-primary" style="padding-left: 4%;padding-right: 4%;"
                                    ng-click="searchHouseInfo()">搜索
                            </button>
                        </div>
                        <div class="col-xs-12 text-center color_red" style="margin: 10px 0;padding:0 10px 10px 0">
                            注：填写业务合作伙伴、房产号、身份证、姓名任意一项的情况下，可以不选择小区和楼栋
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-left" style="padding:0 10px" multiple-form is-verification="isVerification"
                     is-complete="isComplete" cue-way="layer"
                     result="documents&&documents.length>0?resultDo():setKeyWords()">
                    <div ng-repeat="insure in insureMoulds  | orderBy:'insureMouldIndex'"
                         class="col-xs-12 text-left background_white"
                         on-finish-render-filters
                         style="margin: 10px 0;padding:0 10px;border:solid 1px #bbb;">
                        <div class="col-xs-6 text-left color_green background_white" style="margin: 10px 0">
                            {{insure.mouldTypeName}}
                        </div>
                        <div class="col-xs-6 text-right background_white" ng-if="insure.mouldType==='C'"
                             style="margin: 10px 0">
                            <button class="btn btn-primary" ng-click="goToQuery()">投保查询</button>
                        </div>
                        <div class="col-xs-12" style="padding:0;margin:0">
                            <hr style="margin: 0;padding:0;"/>
                        </div>

                        <div class="col-xs-12 text-left" style="margin: 10px 0;padding:0 10px 10px 0;">
                            <div ng-repeat="mould in insure.mouldFactors | orderBy:'sortNumber'" class="col-xs-6"
                                 on-finish-render-filters
                                 ng-show="mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                 style="margin: 5px 0 0 -6%;">
                                <div class="col-xs-5 text-right" style="padding-top: 10px">
                                    {{mould.inputName}}
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control full_width"
                                           ng-init="insureInfo[insure.mouldType][mould.inputCode]=mould.defaultValue"
                                           ng-model="insureInfo[insure.mouldType][mould.inputCode]"
                                           ng-change="validType(mould.inputCode,mould.templateCorrelationVl,insure.mouldType)"
                                           ng-show="mould.inputType=='input' && mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                           placeholder="{{mould.promptValue}}"
                                           ng-disabled="mould.isEnabled=='N'"
                                           value="{{insureInfo[insure.mouldType][mould.inputCode]}}"
                                           rule="{{mould.isMustInput=='Y'?'require':''}};{{mould.validType}}"
                                           err-text="{{insure.mouldTypeName}}{{mould.inputName}}填写错误"/>
                                    <select type="text" class="form-control full_width"
                                            ng-init="insureInfo[insure.mouldType][mould.inputCode]=mould.defaultValue"
                                            ng-model="insureInfo[insure.mouldType][mould.inputCode]"
                                            ng-change="validType(mould.inputCode,mould.templateCorrelationVl,insure.mouldType)"
                                            ng-show="mould.inputType=='select' && mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                            placeholder="{{mould.promptValue}}"
                                            ng-disabled="mould.isEnabled=='N'"
                                            value="{{insureInfo[insure.mouldType][mould.inputCode]}}"
                                            rule="{{mould.isMustInput=='Y'?'require':''}};{{mould.validType}}"
                                            err-text="{{insure.mouldTypeName}}{{mould.inputName}}填写错误"
                                            ng-options="property.codeValue as property.codeName for property in mould.propertyInfoList">
                                    </select>
                                    <div ng-show="mould.inputType=='radio'">
                                        <div class="col-xs-6 margin_top3" style="padding: 0">
                                            <input type="radio" name="{{insure.mouldType}}mailType"
                                                   ng-checked="insureInfo[insure.mouldType][mould.inputCode]=='PH'"
                                                   ng-value="'PH'"
                                                   ng-click="selectSalesman('PH')"
                                                   ng-init="insureInfo[insure.mouldType][mould.inputCode]=mould.defaultValue"
                                                   ng-model="insureInfo[insure.mouldType][mould.inputCode]"
                                                   ng-show="mould.inputType=='radio' && mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                                   placeholder="{{mould.promptValue}}"
                                                   ng-disabled="mould.isEnabled=='N'"
                                                   rule="{{mould.isMustInput=='Y'?'require':''}}"/>投保人邮箱
                                        </div>
                                        <div class="col-xs-6 margin_top3" style="padding: 0">
                                            <input type="radio" name="{{insure.mouldType}}mailType"
                                                   ng-checked="insureInfo[insure.mouldType][mould.inputCode]=='SM'"
                                                   ng-value="'SM'"
                                                   ng-click="selectSalesman('SM')"
                                                   ng-init="insureInfo[insure.mouldType][mould.inputCode]=mould.defaultValue"
                                                   ng-model="insureInfo[insure.mouldType][mould.inputCode]"
                                                   ng-show="mould.inputType=='radio' && mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                                   ng-disabled="mould.isEnabled=='N'"
                                                   rule="{{mould.isMustInput=='Y'?'require':''}}"/>业务员邮箱
                                        </div>
                                    </div>
                                    <input id="{{insure.mouldType+mould.inputCode}}" type="text"
                                           class="form-control full_width"
                                           ng-init="insureInfo[insure.mouldType][mould.inputCode]=mould.defaultValue"
                                           ng-model="insureInfo[insure.mouldType][mould.inputCode]"
                                           ng-click="selectDate(insure.mouldType+mould.inputCode,insure.mouldType,mould)"
                                           ng-show="mould.inputType=='date' && mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                           ng-disabled="mould.isEnabled=='N'"
                                           value="{{insureInfo[insure.mouldType][mould.inputCode]}}"
                                           placeholder="{{mould.promptValue}}"/>
                                </div>
                            </div>
                            <!--先隐藏本功能-->
                            <div ng-if="insure.mouldType.indexOf('B')>-1&&insure.insuredIndex==insuredIndex&&insure.insuredIndex<2&&insuredIndex==-1"
                                 class="col-xs-12 text-center" style="padding:0;margin:0;margin-top: 1%">
                                <hr style="margin: 0;padding:0;"/>
                                <div class="add_circle" ng-click="addInsured(insure.insuredIndex)">+</div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="products|| !products.length===0">
                        <div class="col-xs-12 background_white"
                             style="margin: 10px 0 20px 0;padding: 10px;border:solid 1px #bbb;">
                            <!--ng-repeat="ni in wo"-->
                            <div class="col-xs-6">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    保险起期
                                </div>
                                <div class="col-xs-8">
                                    <input id="startDate" type="text"
                                           style="cursor: pointer"
                                           class="form-control full_width"
                                           ng-model="insureInfo.startDate"
                                           ng-click="selectDate('startDate')"
                                           value="{{insureInfo.startDate}}"/>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    保险止期
                                </div>
                                <div class="col-xs-8">
                                    <input id="endDate" type="text"
                                           class="form-control full_width"
                                           ng-model="insureInfo.endDate"
                                           ng-click="selectDate('endDate')"
                                           value="{{insureInfo.endDate}}"
                                           ng-disabled="true" readonly/>
                                </div>
                            </div>
                            <div class="col-xs-12 margin_top2" ng-if="documents&&documents.length>0">
                                <div class="col-xs-2 col-xs-offset-6 text-right" style="padding-top: 10px">
                                    一个单证号对应多期
                                </div>
                                <div class="col-xs-4" style="line-height: 40px">
                                    <input type="checkbox" ng-model="tarAgent.isMultiPeriod" ng-true-value="Y" ng-false-value="N"  ng-change="changeMultiPeriod()">
                                </div>
                            </div>
                            <div class="col-xs-6 margin_top2"  ng-if="documents&&documents.length>0">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    单证起始号码
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control full_width" ng-model="tarAgent.startNo"
                                           ng-change="calculationDocumentNumber()"
                                           ng-focus="tarAgent.isOpen=true" ng-blur="isBlur()"/>
                                    <!-- 弹窗 -->
                                    <div class="float_frame" ng-if="tarAgent.isOpen">
                                        <div class="float_frame_div" ng-mouseover="tarAgent.isFocusSelect = true"
                                             ng-mouseout="tarAgent.isFocusSelect = false">
                                            <div class="col-xs-12 float_frame_item" ng-repeat="item in documents"
                                                 ng-click="setTarAgentCode(item)" style="padding-left: 0px">
                                                <div class="col-xs-6 padding_0 text-center" style="padding-left: 0px">
                                                    单证起始号码:{{item.startNo}}
                                                </div>
                                                <div class="col-xs-6 padding_0 text-center" style="padding-left: 0px">
                                                    单证终止号码:{{item.endNo}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 margin_top2" ng-if="documents&&documents.length>0">
                                <div class="col-xs-4 text-right" style="padding-top: 10px">
                                    单证终止号码
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control full_width" ng-model="tarAgent.endNo" readonly/>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-xs-12 background_white"-->
                        <!--style="margin: 10px 0 190px 0;padding: 10px;border:solid 1px #bbb;" ng-if="documents&&documents.length>0">-->
                        <!---->
                        <!--</div>-->
                        <!--添加订单-->
                        <!--<div class="col-xs-4">-->
                        <!--<img src="../assets/img/push.png" ng-click="wode()" width="20px">-->
                        <!--</div>-->
                        <div class="col-xs-12 background_white">
                            <div class="col-xs-12 text-center background_white "
                                 style="padding: 10px 0;position: fixed;bottom: -2%;min-width: 83%;width:83%; margin-left: -3%">
                            <span class="col-xs-6 text-right" style="line-height: 40px">
                                <!--<div class="col-xs-3">是否现金支付</div>-->
                                <!--<div class="col-xs-9 text-right">-->
                                <!--&lt;!&ndash;<input type="checkbox" mc-toggle ng-model="insureInfo.ifPayInCash">&ndash;&gt;-->
                                <!--<div class="col-xs-6">-->
                                <!--<input type="radio" name="ifPayInCash"-->
                                <!--ng-model="insureInfo.ifPayInCash"-->
                                <!--ng-checked="insureInfo.ifPayInCash"-->
                                <!--ng-value="true"/>现金-->
                                <!--</div>-->
                                <!--<div class="col-xs-6">-->
                                <!--<input type="radio" name="ifPayInCash"-->
                                <!--ng-model="insureInfo.ifPayInCash"-->
                                <!--ng-checked="!insureInfo.ifPayInCash"-->
                                <!--ng-value="false"/>非现金-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<span class="glyphicon glyphicon-record font_size_16" style="cursor: pointer"-->
                                <!--ng-class="{color_yellow1:insureInfo.ifPayInCash}" ng-click="choosePayByCash()"></span>-->
                                <!--<span class="font_size_16" style="cursor: pointer"-->
                                <!--ng-click="choosePayByCash()"></span>-->
                            </span>

                                <span class="col-xs-4 text-right" style="padding: 5px 0;font-size: 1.7em;">
                                期数：
                                   <button class="hand hand_prize"
                                           ng-click="numberChange('delete')">-</button>
                                <input type="tel"
                                       style="width: 35px;text-align: center"
                                       maxlength="3"
                                       ng-keyup="numberChange()"
                                       ng-model="insureInfo.productNumber">
                                <button class="hand hand_prize" ng-click="numberChange('add')">+</button>
                               ￥{{initPremSize}}
                            </span>
                                <button class="btn btn-warning"
                                        ng-disabled="isPay || productNumber =='' || insureInfo.productNumber <1"
                                        style="margin: 0 10px 0 0"
                                        ng-click="isPay || complete()">立即支付
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


