<div style="background-color: white;padding: 2% 0 5% 0;margin-top: 25%">
    <div class="text-center" style="padding-top: 10px;position: relative;font-weight: bold">
        <p style=";font-weight: bold">注册</p>
        <i class="glyphicon glyphicon-remove" style="position: absolute;top:13px;right: 18px" ng-click="close()"></i>
    </div>
    <div>
        <div style="width: 50%;margin-left: 28%;padding-top: 20px">
            <input ng-model="registeredList.name" maxlength="8" minlength="1" ng-change="verifyName()" class="form-control input-sm disabled" placeholder="请输入姓名"/>
            <div style="color:red;font-size: 12px;position: absolute;top: 21%;right: 13%;">{{passwordverify.name}}</div>
        </div>
        <div style="width: 50%;margin-left: 28%;padding-top: 20px;position: relative">
            <input ng-model="registeredList.phone"
                   class="form-control input-sm disabled"
                   ng-keyup="verifyPhone()"
                   placeholder="请输入手机号"/>
            <div style="color:red;font-size: 12px;position: absolute;top: 52%;right: -13%;">{{passwordverify.phones}}</div>
        </div>
        <div style="width: 50%;margin-left: 28%;padding-top: 20px">
            <input ng-model="registeredList.mailbox" class="form-control input-sm disabled" ng-change="verifyMailbox()" placeholder="请输入QQ/Email"/>
            <div style="color:red;font-size: 12px;position: absolute;top: 43%;right: 13%;">{{passwordverify.mailbox}}</div>
        </div>
        <div style="width: 50%;margin-left: 28%;padding-top: 20px">
            <input ng-model="registeredList.password" ng-keyup="verifyPassword()" class="form-control input-sm disabled" placeholder="设置密码"/>
        </div>
        <div style="width: 50%;margin-left: 28%;padding-top: 20px;position: relative">
            <input ng-model="registeredList.passwords" ng-keyup="verifyPassword()" class="form-control input-sm disabled" placeholder="重复密码"/>
            <span style="color:red;font-size: 12px;position: absolute;top: 52%;right: -8%;">{{passwordverify.trues}}</span>
        </div>
        <div style="width: 50%;margin-left: 28%;color:red;text-align: center;font-size: 12px;margin-top: 5px">
            {{prompt.promp}}
        </div>
        <div style="width: 50%;margin-left: 28%;padding-top: 20px">
            <button  ng-click="registered()" type="button" class="btn btn-default active" style="width: 88%;">立即注册</button>
        </div>
    </div>
</div>