<div class="col-xs-12" style="padding: 0">
    <!--轮播图-->
    <!--<div class="col-xs-10 col-xs-offset-1">-->
        <!--<div id="lazyload_3" class="slide">-->
            <!--<div class="content">-->
                <!--<ul class="j_slideLists">-->
                    <!--<li style="background-color:#E2015F;"><a href="#"-->
                                                             <!--data-slide-img="images/lazyload/bg-1.jpg">描述内容1</a></li>-->
                    <!--<li style="background-color:#DED4A1;"><a href="#"-->
                                                             <!--data-slide-img="images/lazyload/bg-2.jpg">描述内容2</a></li>-->
                    <!--<li style="background-color:#BACFD4;"><a href="#"-->
                                                             <!--data-slide-img="images/lazyload/bg-3.jpg">描述内容3</a></li>-->
                    <!--<li style="background-color:#98908E;"><a href="#"-->
                                                             <!--data-slide-img="images/lazyload/bg-4.jpg">描述内容4</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="tag">-->
                <!--<ul class="j_slideTags">-->
                    <!--<li class="current">1</li>-->
                    <!--<li>2</li>-->
                    <!--<li>3</li>-->
                    <!--<li>4</li>-->
                    <!--<li>5</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="btn">-->
                <!--<a href="javascript:void(0);" target="_self" class="btnPrev j_slidePrev">-->
                    <!--<img src="images/left.png" style="width: 100%;margin-top: 20%">-->
                <!--</a>-->
                <!--<a href="javascript:void(0);" target="_self" class="btnNext j_slideNext">-->
                    <!--<img src="images/right.png" style="width: 100%;margin-top: 20%">-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-xs-4  card background_white" style="padding: 20px;margin-top: 26px;">
            <form>
                <fieldset style="background-color: #424453">
                    <legend style="border-bottom:none">
                        <div class="col-xs-12 DT-titles text-center color_white" style="position: relative;line-height: 60px;font-size: 16px">
                            <i class="glyphicon glyphicon-pencil color_white" style="position: absolute;top: 23px;left: 50px"></i>
                            免费企业挂靠
                        </div>
                    </legend>
                    <div class="row margin_top_10 color_white" style="line-height: 28px">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">
                            省份
                        </div>
                        <div class="col-xs-6">
                            <select type="text" ng-model="areaHome.idArea" class="form-control input-sm"
                                    ng-options="x.idArea as x.areaName for x in regionalLists"
                                    ng-change="getQuYu(areaHome.idArea)">
                            </select>
                        </div>
                    </div>
                    <div class="row margin_top_10" style="line-height: 28px">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">
                            区域
                        </div>
                        <div class="col-xs-6">
                            <select type="text" ng-model="areaHome.areaName" class="form-control input-sm"
                                    ng-options="x.idArea as x.areaName for x in quYuList">
                            </select>
                        </div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">类型</div>
                        <div class="col-xs-6"><input class="form-control input-sm" type="text" placeholder="请输入类型"
                                                     ng-model="areaHome.idClassifications" size="16"></div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">
                            专业
                        </div>
                        <div class="col-xs-6">
                            <select type="text" ng-model="areaHome.idClassification" class="form-control input-sm"
                                    ng-options="x.idClassification as x.className for x in classificationList">
                            </select>
                        </div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">注册类型</div>
                        <div class="col-xs-6 color_white">
                            <input name="Fruit" type="radio" value="0" ng-model="areaHome.registrationType"/>初始
                            <input name="Fruit" type="radio" value="1" ng-model="areaHome.registrationType"/>转注
                        </div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">联系人</div>
                        <div class="col-xs-6"><input class="form-control input-sm" type="text" placeholder="请输入联系人"
                                                     ng-model="areaHome.name" size="16"></div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">联系电话</div>
                        <div class="col-xs-6"><input class="form-control input-sm" type="text" placeholder="请输入联系电话"
                                                     ng-model="areaHome.phone" size="16"></div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">QQ/Email</div>
                        <div class="col-xs-6"><input class="form-control input-sm" type="text" placeholder="请输入QQ/Email"
                                                     ng-model="areaHome.QQ" size="16"></div>
                    </div>
                    <div class="row margin_top_10 text-center" style="margin-bottom: 7%;">
                        <bottom class="btn btn-primary" ng-click="releaseInfo('1')">
                            提交资料
                        </bottom>
                        <bottom class="btn btn-warning">
                            重新填写
                        </bottom>
                    </div>
                </fieldset>
            </form>
            <form>
                <fieldset style="background-color: #424453">
                    <legend style="border-bottom:none">
                        <div class="col-xs-12 DT-titles text-center color_white" style="position: relative;line-height: 60px;font-size: 16px">
                            <i class="glyphicon glyphicon-pencil color_white" style="position: absolute;top: 23px;left: 50px"></i>
                            免费个人挂靠
                        </div>
                    </legend>
                    <div class="row margin_top_10" style="line-height: 28px">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">
                            省份
                        </div>
                        <div class="col-xs-6">
                            <select type="text" ng-model="areaHome1.idArea" class="form-control input-sm"
                                    ng-options="x.idArea as x.areaName for x in regionalLists">
                            </select>
                        </div>
                    </div>
                    <div class="row margin_top_10" style="line-height: 28px">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">
                            区域
                        </div>
                        <div class="col-xs-6">
                            <select type="text" ng-model="areaHome1.areaName" class="form-control input-sm"
                                    ng-options="x.idArea as x.areaName for x in quYuList">
                            </select>
                        </div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">类型</div>
                        <div class="col-xs-6">
                            <input class="form-control input-sm" type="text" placeholder="请输入类型"
                                   ng-model="areaHome1.idClassifications"
                                   size="16"></div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">
                            专业
                        </div>
                        <div class="col-xs-6">
                            <select type="text" ng-model="areaHome1.idClassification" class="form-control input-sm"
                                    ng-options="x.idClassification as x.className for x in classificationList">
                            </select>
                        </div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">注册类型</div>
                        <div class="col-xs-6 color_white">
                            <input name="Fruit" type="radio" value="0" ng-model="areaHome1.registrationType"/>初始
                            <input name="Fruit" type="radio" value="1" ng-model="areaHome1.registrationType"/>转注
                        </div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">联系人</div>
                        <div class="col-xs-6"><input class="form-control input-sm" type="text" placeholder="请输入联系人"
                                                     ng-model="areaHome1.name" size="16"></div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">联系电话</div>
                        <div class="col-xs-6"><input class="form-control input-sm" type="text" placeholder="请输入联系电话"
                                                     ng-model="areaHome1.phone" size="16"></div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">QQ/Email</div>
                        <div class="col-xs-6"><input class="form-control input-sm" type="text" placeholder="请输入QQ/Email"
                                                     ng-model="areaHome1.QQ" size="16"></div>
                    </div>
                    <div class="row margin_top_10 text-center" style="margin-bottom: 7%;">
                        <bottom class="btn btn-primary" ng-click="releaseInfo('2')">
                            提交资料
                        </bottom>
                        <bottom class="btn btn-warning">
                            重新填写
                        </bottom>
                    </div>

                </fieldset>
            </form>
            <form>
                <fieldset style="background-color: #424453">
                    <legend style="border-bottom:none">
                        <div class="col-xs-12 DT-titles text-center color_white" style="position: relative;line-height: 60px;font-size: 16px">
                            <i class="glyphicon glyphicon-pencil color_white" style="position: absolute;top: 23px;left: 50px"></i>
                            免费全职招聘
                        </div>
                    </legend>
                    <div class="row margin_top_10" style="line-height: 28px">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">
                            省份
                        </div>
                        <div class="col-xs-6">
                            <select type="text" ng-model="areaHome2.idArea" class="form-control input-sm"
                                    ng-change="getQuYu(areaHome2.idArea)"
                                    ng-options="x.idArea as x.areaName for x in regionalLists">
                            </select>
                        </div>
                    </div>
                    <div class="row margin_top_10" style="line-height: 28px">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">
                            区域
                        </div>
                        <div class="col-xs-6">
                            <select type="text" ng-model="areaHome2.areaName" class="form-control input-sm"
                                    ng-options="x.idArea as x.areaName for x in quYuList">
                            </select>
                        </div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">类型</div>
                        <div class="col-xs-6"><input class="form-control input-sm" type="text" placeholder="请输入类型"
                                                     ng-model="areaHome2.idClassifications"
                                                     size="16"></div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">
                            专业
                        </div>
                        <div class="col-xs-6">
                            <select type="text" ng-model="areaHome2.idClassification" class="form-control input-sm"
                                    ng-options="x.idClassification as x.className for x in classificationList">
                            </select>
                        </div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">注册类型</div>
                        <div class="col-xs-6 color_white">
                            <input name="Fruit" type="radio" value="0" ng-model="areaHome2.registrationType"/>初始
                            <input name="Fruit" type="radio" value="1" ng-model="areaHome2.registrationType"/>转注
                        </div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">联系人</div>
                        <div class="col-xs-6"><input class="form-control input-sm" type="text" placeholder="请输入联系人"
                                                     ng-model="areaHome2.name"
                                                     size="16"></div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">联系电话</div>
                        <div class="col-xs-6">
                            <input class="form-control input-sm" type="text" placeholder="请输入联系电话"
                                   ng-model="areaHome2.phone"
                                   size="16"></div>
                    </div>
                    <div class="row margin_top_10">
                        <div class="col-xs-5 color_white" style="padding-left: 10%;padding-top: 1%;">QQ/Email</div>
                        <div class="col-xs-6">
                            <input class="form-control input-sm" type="text" placeholder="请输入QQ" ng-model="areaHome2.QQ"
                                   size="16"></div>
                    </div>
                    <div class="row margin_top_10 text-center" style="margin-bottom: 7%;">
                        <bottom class="btn btn-primary" ng-click="releaseInfo('3')">
                            提交资料
                        </bottom>
                        <bottom class="btn btn-warning">
                            重新填写
                        </bottom>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-xs-8" style="border: 1px solid #ddd;margin-top: 26px;height: 1200px;background-color: #fff;padding-right: 15px">
            <div style="padding: 10px 0 0 20px">新闻公告栏:</div>
            <ul>
                <li style="border-bottom: 1px dashed #ddd;margin-top: 20px;cursor: pointer;">
                    <div style="font-size: 18px;">来来来 小编教你怎么挑选瓷砖</div>
                    <div style="font-size: 12px">
                        瓷砖是家装里面花钱较多的一个项目了，也可以说是家装成败的一个很重要的因素，因为家里几乎有三分之一的地方都要靠它来装扮，怎么挑选瓷砖呢，小编教你几招，接好！
                    </div>
                    <div>
                        <div style="float: right">
                            2018.05.03
                        </div>
                    </div>
                </li>
                <li style="border-bottom: 1px dashed #ddd;margin-top: 20px;cursor: pointer;">
                    <div style="font-size: 18px;">来来来 小编教你怎么挑选瓷砖</div>
                    <div style="font-size: 12px">
                        瓷砖是家装里面花钱较多的一个项目了，也可以说是家装成败的一个很重要的因素，因为家里几乎有三分之一的地方都要靠它来装扮，怎么挑选瓷砖呢，小编教你几招，接好！
                    </div>
                    <div>
                        <div style="float: right">
                            2018.05.03
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>




    <!--底部信息-->
</div>


