<div class="col-xs-12" style="padding: 0">
    <div class="col-xs-10 col-lg-offset-1">
        <div class="col-xs-2" style="border: 1px solid silver;padding: 0">
            <div class="background_blue text-center" style="font-size: 20px;line-height: 2;color: #fff;">
                项目导航栏
            </div>
            <div class="qualificationDynamics_menu"
                 ng-class="{font_color_black1:active=='企业办事指南'}"
                 ng-click="switchView('企业办事指南')">
                企业办事指南
            </div>
            <div class="qualificationDynamics_menu"
                 ng-class="{font_color_black1:active=='资质报价单'}"
                 ng-click="switchView('资质报价单')">
                资质报价单
            </div>
            <div class="qualificationDynamics_menu" style="margin-bottom: 10%"
                 ng-class="{font_color_black1:active=='资质转让/收购'}"
                 ng-click="switchView('资质转让/收购')">
                资质转让/收购
            </div>
        </div>
        <!--内容区域-->
        <div class="col-xs-10">
            <div ng-if="active=='资质流程'" ng-include="'enterpriseService/enterpriseServiceLC.html'"></div>
            <div ng-if="active=='企业办事指南'" ng-include="'enterpriseService/enterpriseServiceZN.html'"></div>
            <div ng-if="active=='资质报价单'" ng-include="'enterpriseService/enterpriseServiceBJ.html'"></div>
            <div ng-if="active=='资质转让/收购'" ng-include="'enterpriseService/enterpriseServiceSG.html'"></div>
            <div ng-if="active=='建筑企业信息查询'" ng-include="'enterpriseService/enterpriseServiceQY.html'"></div>
        </div>
    </div>
</div>