<!--<div style="height: 500px;width:720px;background-color: white">-->
<!--<div class="modal-header" style="">-->
<!--<button type="button" class="close" ng-click="close()"> &times;</button>-->
<!--<div class="modal-title">承保信息</div>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<table class="table table-bordered table_center" style="width: 94%;margin-left: 3%;margin-top: 2px">-->
<!--<thead>-->
<!--<tr>-->
<!--<th ng-show="true">序号</th>-->
<!--<th>订单号</th>-->
<!--<th>被保人</th>-->
<!--<th>产品名称</th>-->
<!--<th>保险金额</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td ng-show="true">1</td>-->
<!--<td>SD227788</td>-->
<!--<td>王午</td>-->
<!--<td>e家保险</td>-->
<!--<td>￥25</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--<div class="col-xs-12" style="border-bottom: 1px solid">-->
<!--<div class="col-xs-8" style="font-size: 20px">合计单数：{{12}}</div>-->
<!--<div class="col-xs-4" style="font-size: 20px">合计支付金额：￥{{500}}</div>-->
<!--</div>-->
<!--<div class="col-xs-12 text-right" style="padding-right:35px;margin-top: 20px">-->
<!--<select class="input-sm">-->
<!--<option>详细续保订单</option>-->
<!--<option>excel格式导出</option>-->
<!--<option>pdf格式导出</option>-->
<!--</select>-->
<!--<button type="button" class="btn btn-default btn-sm">导出</button>-->
<!--</div>-->
<!--<div class="col-xs-12 text-center" style="padding:0;margin: 20px 0 0 0">-->
<!--<nav aria-label="Page navigation">-->
<!--<ul class="pagination">-->
<!--<li>-->
<!--<a href="#" aria-label="Previous">-->
<!--<span aria-hidden="true">&laquo;</span>-->
<!--</a>-->
<!--</li>-->
<!--<li><a href="#">1</a></li>-->
<!--<li><a href="#">2</a></li>-->
<!--<li><a href="#">3</a></li>-->
<!--<li><a href="#">4</a></li>-->
<!--<li><a href="#">5</a></li>-->
<!--<li>-->
<!--<a href="#" aria-label="Next">-->
<!--<span aria-hidden="true">&raquo;</span>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
<!--<div class="text-center">-->
<!--<button class="btn btn-default">确认支付</button></div>-->
<!--</div>-->
<!--</div>-->
<div class="background_white">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"> &times;</button>
        <h5 class="modal-title text-center">承保信息</h5>
    </div>
    <!--表格-->
    <div style="padding: 8px">
        <table class="table table-bordered table_center">
            <tr>
                <th class="neptune_table_th">序号</th>
                <th class="neptune_table_th">订单号</th>
                <th class="neptune_table_th">被保人</th>
                <th class="neptune_table_th">产品名称</th>
                <th class="neptune_table_th">保险金额</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="5">
                    合计：3单 共：¥7897
                </td>
            </tr>
        </table>
    </div>
    <!--按钮-->
    <div style="border-top: 1px solid #F3F3F3;height: 50px;margin-top: 10%;">
        <select class="input-sm margin_top2" style="margin-left: 8px">
            <option>详细续保订单</option>
            <option>excel格式导出</option>
            <option>pdf格式导出</option>
        </select>
        <span>
            <img src="assets/img/export.png">
           <span>导出</span>
        </span>
        <button class="neptune_button_model margin_top2" style="float: right;margin-right: 8px">
            确认支付
        </button>
    </div>
</div>