<div style="width:720px;" class="background_white">
    <div class="modal-header" style="">
        <button type="button" class="close" ng-click="close()"> &times;</button>
        <div class="modal-title text-center">{{type}}详情</div>
    </div>
    <div class="col-xs-12" style="margin-left: 1%;margin-top: 6px">
        <div class="col-xs-6">
            订单编号：{{order.orderId}}
        </div>
        <div class="col-xs-6">保单编号：{{order.policyNo}}</div>
    </div>
    <div class="modal-body" style="overflow-y: scroll">
        <div class="col-xs-12" style="border: 1px solid #dedede;padding: 0 10px 10px 10px">
            <div class="col-xs-12 color_green padding_10" style="border-bottom: 1px solid #dedede;">投保信息</div>
            <div class="col-xs-12">
                <div class="col-xs-6 padding_10">
                    <div class="col-xs-5">
                        产品名称
                    </div>
                    <div class="col-xs-7">
                        {{order.productName}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-repeat="(x,y) in order.selectedElements"
                     ng-if="order.selectedElements">
                    <div class="col-xs-5">
                        {{x}}
                    </div>
                    <div class="col-xs-7">
                        {{y}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.expiry_date">
                    <div class="col-xs-5">
                        终保日期
                    </div>
                    <div class="col-xs-7">
                        {{order.expiry_date}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.effectiveDate">
                    <div class="col-xs-5">
                        起保日期
                    </div>
                    <div class="col-xs-7">
                        {{order.effectiveDate}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.totalOrder">
                    <div class="col-xs-5">
                        保费
                    </div>
                    <div class="col-xs-7">
                        {{order.totalOrder}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 margin_top_10" style="border: 1px solid #dedede;padding: 0 10px 10px 10px"
             ng-if="order.address">
            <div class="col-xs-12 color_green padding_10" style="border-bottom: 1px solid #dedede;">家财信息</div>
            <div class="col-xs-6 padding_10" ng-if="order.properties[0].gasUserId">
                <div class="col-xs-5">
                    燃气编号
                </div>
                <div class="col-xs-7">
                    {{order.properties[0].gasUserId}}
                </div>
            </div>
            <div class="col-xs-6 padding_10" ng-if="order.properties[0].housingTypeName">
                <div class="col-xs-5">
                    房屋类型
                </div>
                <div class="col-xs-7">
                    {{order.properties[0].housingTypeName}}
                </div>
            </div>
            <div class="col-xs-12 padding_10" ng-if="order.address">
                <div class="col-xs-2">
                    详细地址
                </div>
                <div class="col-xs-10" style="padding-left: 6%;">
                    {{order.address}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 margin_top_10" style="border: 1px solid #dedede;padding: 0 10px 10px 10px">
            <div class="col-xs-12 color_green padding_10" style="border-bottom: 1px solid #dedede;">投保人信息</div>
            <div class="col-xs-12 padding_10">
                <div class="col-xs-6 padding_10" ng-if="order.policyHolder.name">
                    <div class="col-xs-5">
                        投保人姓名
                    </div>
                    <div class="col-xs-7">
                        {{order.policyHolder.name}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyHolder.holderRelationName">
                    <div class="col-xs-5">
                        与被保险人关系
                    </div>
                    <div class="col-xs-7">
                        {{order.policyHolder.insuredRelationName}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyHolder.phoneNumber">
                    <div class="col-xs-5">
                        手机号码
                    </div>
                    <div class="col-xs-7">
                        {{order.policyHolder.phoneNumber}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyHolder.certificateTypeName">
                    <div class="col-xs-5">
                        证件类型
                    </div>
                    <div class="col-xs-7">
                        {{order.policyHolder.certificateTypeName}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyHolder.certificateNumber">
                    <div class="col-xs-5">
                        证件号码
                    </div>
                    <div class="col-xs-7 neptune_order_detail">
                        {{order.policyHolder.certificateNumber}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyHolder.mailType">
                    <div class="col-xs-5">
                        邮箱类型
                    </div>
                    <div class="col-xs-7">
                        {{order.policyHolder.mailType==='PH'?'投保人邮箱':'业务员邮箱'}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyHolder.mail">
                    <div class="col-xs-5">
                        电子邮箱
                    </div>
                    <div class="col-xs-7">
                        {{order.policyHolder.mail}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyHolder.birthday">
                    <div class="col-xs-5">
                        出生日期
                    </div>
                    <div class="col-xs-7">
                        {{order.policyHolder.birthday}}
                    </div>
                </div>
                <div class="col-xs-12 padding_10" ng-if="order.policyHolder.address">
                    <div class="col-xs-2">
                        投保地址
                    </div>
                    <div class="col-xs-10" style="padding-left: 6%;">
                        {{order.policyHolder.address}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 margin_top_10" style="border: 1px solid #dedede;padding: 0 10px 10px 10px">
            <div class="col-xs-12 color_green padding_10" style="border-bottom: 1px solid #dedede;">被保险人信息</div>
            <div class="col-xs-12 padding_10">
                <div class="col-xs-6 padding_10" ng-if="order.policyInsureds[0].name">
                    <div class="col-xs-5">
                        被保人姓名
                    </div>
                    <div class="col-xs-7">
                        {{order.policyInsureds[0].name}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyInsureds[0].holderRelationName">
                    <div class="col-xs-5">
                        与保险人关系
                    </div>
                    <div class="col-xs-7">
                        {{order.policyInsureds[0].holderRelationName}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyInsureds[0].phoneNumber">
                    <div class="col-xs-5">
                        手机号
                    </div>
                    <div class="col-xs-7">
                        {{order.policyInsureds[0].phoneNumber}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyInsureds[0].certificateTypeName">
                    <div class="col-xs-5">
                        证件类型
                    </div>
                    <div class="col-xs-7">
                        {{order.policyInsureds[0].certificateTypeName}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyInsureds[0].certificateNumber">
                    <div class="col-xs-5">
                        证件号码
                    </div>
                    <div class="col-xs-7 neptune_order_detail">
                        {{order.policyInsureds[0].certificateNumber}}
                    </div>
                </div>
                <!--<div class="col-xs-6 padding_10" ng-if="order.policyInsureds[0].mailType">-->
                <!--<div class="col-xs-3">-->
                <!--邮箱类型-->
                <!--</div>-->
                <!--<div class="col-xs-7">-->
                <!--{{order.policyInsureds[0].mailType==='PH'?'投保人邮箱':'业务员邮箱'}}-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6 padding_10" ng-if="order.policyInsureds[0].mail">-->
                <!--<div class="col-xs-3">-->
                <!--电子邮箱-->
                <!--</div>-->
                <!--<div class="col-xs-7">-->
                <!--{{order.policyInsureds[0].mail}}-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-xs-6 padding_10" ng-if="order.policyInsureds[0].cardNo">
                    <div class="col-xs-5">
                        卡号
                    </div>
                    <div class="col-xs-7">
                        {{order.policyInsureds[0].cardNo}}
                    </div>
                </div>
                <div class="col-xs-6 padding_10" ng-if="order.policyInsureds[0].birthday">
                    <div class="col-xs-5">
                        出生日期
                    </div>
                    <div class="col-xs-7">
                        {{order.policyInsureds[0].birthday}}
                    </div>
                </div>
                <!--<div class="col-xs-12 padding_10" ng-if="order.policyInsureds[0].address">-->
                <!--<div class="col-xs-5">-->
                <!--地址-->
                <!--</div>-->
                <!--<div class="col-xs-7">-->
                <!--{{order.policyInsureds[0].address}}-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-xs-12 margin_top_10" style="border: 1px solid #dedede;padding: 0 10px 10px 10px"
             ng-if="(order.invoiceinfo.invoiceTitle&&order.invoiceinfo.invoiceTitle!='') || (order.invoiceinfo.dutySign&&order.invoiceinfo.dutySign!='') || (order.invoiceinfo.sendAddress&&order.invoiceinfo.sendAddress!='')">
            <div class="col-xs-12 color_green padding_10" style="border-bottom: 1px solid #dedede;">发票信息</div>
            <div class="col-xs-6 padding_10" ng-if="order.invoiceinfo.invoiceTitle&&order.invoiceinfo.invoiceTitle!=''">
                <div class="col-xs-5">
                    发票抬头
                </div>
                <div class="col-xs-7 neptune_order_detail">
                    {{order.invoiceinfo.invoiceTitle}}
                </div>
            </div>
            <div class="col-xs-6 padding_10" ng-if="order.invoiceinfo.dutySign&&order.invoiceinfo.dutySign!=''">
                <div class="col-xs-5">
                    纳税人识别号
                </div>
                <div class="col-xs-7 neptune_order_detail">
                    {{order.invoiceinfo.dutySign}}
                </div>
            </div>
            <div class="col-xs-6 padding_10" ng-if="order.invoiceinfo.sendAddress&&order.invoiceinfo.sendAddress!=''">
                <div class="col-xs-5">
                    开票地址
                </div>
                <div class="col-xs-7">
                    {{order.invoiceinfo.sendAddress}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 margin_top_10" style="border: 1px solid #dedede;padding: 0 10px 10px 10px"
             ng-if="myDocument&&myDocument.certifyNo">
            <div class="col-xs-12 color_green padding_10" style="border-bottom: 1px solid #dedede;">单证信息</div>
            <div class="col-xs-6 padding_10">
                <div class="col-xs-5">
                    单证号
                </div>
                <div class="col-xs-7 neptune_order_detail">
                    {{myDocument.certifyNo}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 margin_top_10" style="border: 1px solid #dedede;padding: 0 10px 10px 10px"
             ng-if="order.appStatus">
            <div class="col-xs-12 color_green padding_10" style="border-bottom: 1px solid #dedede;">保单状态</div>
            <div class="col-xs-12 padding_10">
                <p>
                    {{order.appStatus}}
                </p>
            </div>
        </div>
    </div>
</div>