<div class="background_white" style="border-radius: 8px;position: relative;behavior:url('assets/css/PIE.htc');">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"> &times;</button>
        <h4 class="modal-title">本次考题结果</h4>
    </div>
    <div class="modal-body" style="height: 100px;text-align: center;font-size: 20px;">
        <!--<div ng-if="result.passed">恭喜考试通过！得分：{{result.getPoints}}</div>-->
        <!--<div ng-if="!result.passed">考试未通过！得分：{{result.getPoints}}</div>-->
        <div class="col-xs-12">考试得分</div>
        <div class="col-xs-12">{{result.getPoints}}</div>
        <div class="col-xs-12" ng-if="!result.passed">本次考试未通过</div>
        <div class="col-xs-12" ng-if="result.passed">本次考试通过</div>
    </div>

    <div class="modal-footer">
        <div class="full_width text-center">
            <button type="button" class="btn btn-primary" ng-click="closeAnswer()">确定</button>
        </div>
    </div>
</div>