<div style="width:720px;background-color: white;height: 500px;">
    <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close" ng-click="close()"> &times;</button>
        <div class="modal-title text-center">代理协议</div>
    </div>
    <div class="modal-body">
        <div style="width: 680px;height: 360px;border: 1px solid #bbbbbb;overflow:scroll;">

            代理协议

            <p>甲方： 新奥保险经纪有限公司</p>
            <p>地址：天津自贸试验区（空港经济区）环河北路80号空港商务园东区9号楼403-05房屋</p>
            <p>邮政编码：300308</p>

            <p>乙方：{{register.secondParty}}</p>
            <p>家庭住址：{{register.homeAddress}}</p>
            <p>邮政编码：{{register.secondZipCode}}</p>
            <p>身份证号码：{{register.iDCardNo}}</p>

            <p>根据《中华人民共和国保险法》、《保险经纪机构管理规定》及有关法规，甲乙双方经平等协商，就保险业务合作代理事项达成一致，签订本合同。</p>
            <p>第一条 本合同自甲方盖章乙方在新奥e保App或新奥e保平台中点击“同意”或签字之日视为本合同成立并生效。期限 36 个月。</p>
            <p>第二条 甲乙双方的关系为保险业务合作代理关系，不直接或间接构成劳动关系。</p>
            <p>第三条 甲方委托乙方在本合同授权范围内为甲方代理保险经纪业务。</p>
            <p>第四条 地域范围
                甲方授权乙方在甲方经营区域 省（自治区、直辖市） / 市（地区、州、盟） / 县（市、区、旗）代理保险业务。</p>
            <p> 第五条 代理业务范围
                （一）甲方授权乙方推广人身保险、财产保险及其它甲方有权合法推广的产品。
                （二）乙方代理保险业务的行为限于：
                1．向客户宣传、介绍、推荐甲方提供的保险产品；
                2．将投保人填写的投保单及相关的投保材料交付甲方；
                3．将甲方合作的保险公司签发的保险单、保险费收据等相关单证交付给投保人；
                4．接受客户咨询；
                5．甲方书面委托的其他事项。
                （三）乙方不得处理下列事项：
                1．签发或批改保险单和保险费收据；
                2．核保、核赔；
                3．其他未经甲方书面授权的事项。</p>
            <p> 第六条 本合同有效期内，乙方在甲方授权范围内，代为办理保险业务的行为，由甲方承担责任。乙方超越本合同甲方书面授权范围的行为，由乙方承担责任。</p>
            <p>第七条 保险费的交付方式和期限
                （一）乙方应在收到保险费当日将代收的保险费全额交付甲方或存入甲方指定的银行帐户；特殊情况下经甲方同意，交付期限可以延长为收到保险费二十四小时之内。
                （二）乙方不得使用非甲方指定帐户收取保险费，不得将保险费挪作他用。</p>
            <p>第八条 劳务费支付标准和支付方式
                （一）甲方向乙方支付劳务费，双方约定的劳务费标准和相应的奖励措施参见甲方制订的合作保险公司产品《直接佣金表》。
                （二）甲方按列明的劳务费率向乙方支付劳务费，但乙方所得劳务费产生的税款由乙方承担。
                （三）甲方按每一会计月份的实收保险费以现金或转账方式结算乙方劳务费，结算日为次月 20 日，遇节假日顺延。
                （四）甲方根据国家有关法律、法规和行政规章以及甲方业务管理需要，可调整劳务费标准，如乙方不能认可新的劳务费标准，本合同自动终止。
                （五）同时符合以下三个条件，乙方方可有权要求甲方支付劳务费：
                1．合作保险公司已审核签发保险单；
                2．合作保险公司已全额收到保险费，保单回执已经客户签署、交回保险公司，且保单已过犹豫期；
                3．推广行为符合本协议各项约定及国家保险监管机构规定。
                （六）乙方推广的业务发生退保或变更，甲方相应调整或收回乙方的劳务费。</p>
            <p> 第九条 甲方的权利
                （一）根据国家有关法律、法规和行政规章，制定业务人员管理制度，并据此对乙方与保险推广及客户服务有关的行为进行管理；
                （二）对乙方推广的保险业务进行初步的审核，并按规定交保险公司核保、核赔；
                （三）乙方越权推广及违反本合同其他约定的，甲方有权解除本合同；造成甲方损失的，甲方有权向乙方索赔；
                （四）按税务机关规定代扣乙方应缴纳的税款；
                （五）了解乙方推广业务完成情况和客户详细信息。</p>
            <p> 第十条 甲方的义务
                （一）根据本合同约定向乙方支付劳务费；
                （二）对乙方在甲方授权范围内推广的保险业务要求保险公司承担保险责任；
                （三）为乙方核发或更换《保险经纪从业人员执业证书》；

                （四）为乙方提供从事保险推广业务所需展业证件、业务单证和甲方认为必要的宣传材料；
                （五）认真听取乙方提出的合理化建议；
                （六）为乙方提供与保险业务有关的培训。</p>
            <p> 第十一条 乙方的权利
                （一）在授权范围内与甲方合作推广保险业务，并获得甲方支付的劳务费；
                （二）依法解除本合同；
                （三）取得甲方提供的有关保险推广业务的展业证件、业务单证、宣传材料；
                （四）享有甲方为其提供的与保险业务有关的培训；
                （五）拒绝甲方的违法、违规和非书面委托事项。</p>
            <p> 第十二条 乙方的义务
                （一）遵守国家有关法律、法规和行政规章，遵守职业操守，维护甲方及投保人、被保险人、受益人、保险人的合法利益，维护甲方的社会形象；
                （二）参加甲方组织的业务培训，不断提高专业技能；
                （三）向投保人全面说明保险合同内容，并按照甲方的要求就保险标的和被保险人的有关情况提出询问；对于保险合同中的责任免除条款，向投保人明确说明；
                （四）协助甲方了解投保标的真实情况和风险状况；
                （五）按本合同约定向甲方交付代收的保险费；
                （六）保守甲方和直接客户的商业秘密；
                （七）非经甲方书面授权，不为甲方以外的中介机构或保险公司推广保险业务；
                （八）按甲方要求确定展业身份称谓，不向投保人作任何与保险业务有关的虚假宣传和承诺；
                （九）在接到投保人或被保险人的出险通知后，及时通知甲方；
                （十）保险合同订立后，在接到投保人要求变更、终止或者解除合同的请求后，及时通知甲方。</p>
            <p> 第十三条 押金交纳
                为保障保险单证、保险费或客户资金安全等，乙方同意向甲方交纳 0 元作为押金，合同到期终止后押金无息退还。</p>
            <p>第十四条 合同的变更
                （一）在本合同有效期内，根据国家有关法律、法规和行政规章，甲乙双方协商一致，可依法对保险推广的地域范围、险种范围、劳务费标准、保证人等合同内容进行变更，并订立补充协议予以约定。
                （二）双方如不能就变更事宜达成一致意见，本合同自动终止。</p>
            <p> 第十五条 合同的终止及解除
                （一）本合同期满如双方均未书面提出终止，则本合同有效期自动顺延，直至任一方书面通知对方解除合同后的三十日终止。
                （二）在本合同有效期内，甲乙任何一方要求解除合同，应提前三十天书面通知对方。
                （三）乙方有下列情况之一的，甲方可随时单方解除合同：
                1．违反国家法律法规；
                2．违背社会公德，损害甲方信誉和形象；
                3．挪用或侵占保险费；
                4．串通投保人、被保险人或保险受益人欺骗甲方或保险人；
                5．使用不正当手段强迫、引诱或者限制投保人、被保险人投保或转换保险人；
                6．擅自变更保险条款，提高和降低保险费率；
                7．泄漏客户信息及甲方商业秘密；
                8．遗失重要保险单证造成甲方重大损失；
                9．为甲方以外的中介机构或保险公司推广保险业务；
                10．违反本合同约定中乙方的任何一项义务。
                （四）有以下情形之一的，本合同终止：
                1．本合同期满；
                2．乙方丧失民事行为能力；
                3．乙方丧失劳动能力；
                4．乙方《保险经纪人资格证书》被保险监管部门吊销；
                5．法律规定的其他应当终止的情形。
                （五）本合同终止或解除时，乙方须将甲方核发的《保险经纪从业人员执业证书》、合作期间有关的单证材料、客户资料、乙方和保证人留存的本合同原件和借用甲方的物品交还甲方，并办理有关手续。
                （六）本合同终止或解除后，乙方不得再以甲方的名义从事保险推广活动。</p>
            <p>第十六条 违约责任
                （一）甲方无正当理由，未按本合同约定向乙方支付劳务费，除应如数支付劳务费外，每拖延壹日，要向乙方支付应支付劳务费金额 0.1%的违约金。
                （二）乙方未在本合同约定的期限内向甲方交付保险费，除如数上交保险费外，每拖延壹日，要向甲方支付应交付保险费金额 0.1%的违约金。
                （三）甲乙双方违反本合同约定，除本条第一、二款的情形以外，须支付壹百元至伍百元的违约金。
                （四）乙方超出甲方授权范围或者在劳务协议终止后仍以甲方名义进行的活动，甲方不承担责任。
                （五）甲方不履行合同义务或违反合同约定，乙方有权提出解除本合同，给乙方造成损失的，乙方有权要求赔偿损失。
                （六）乙方违反国家法律法规或违反本合同约定造成甲方损失的，须按照损失金额支付赔偿金。</p>
            <p>第十七条 争议处理
                因本合同引起的或与本合同有关的任何争议，由甲方所在地人民法院诉讼解决。</p>
            <p>第十八条 附则
                本合同一式二份，甲乙双方各持一份，具有同等法律效力。</p>

            <p>甲方盖章：新奥保险经纪有限公司（盖章）</p>


            <p> 乙方签字（盖章）：{{register.secondParty}}</p>


            <p> 2017年 月 日</p>


            <p>合同签订地点： 廊坊</p>

            <p>保险经纪从业人员职业道德指引（保监发【2004】143 号）</p>
            <p>为保护投保人和被保险人的利益，提高保险经纪从业人员的职业道德水准，促进保险业的健康发展，制定本指引。</p>
            <p>本指引所称保险经纪从业人员是指从事保险经纪业务的保险经纪机构工作人员。</p>
            <p>保险经纪从业人员在执业活动中应当做到：守法遵规、诚实信用、专业胜任、勤勉尽责、友好合作、公平竞争、保守秘密。</p>
            <p>（一） 守法遵规
                1. 以《中华人民共和国保险法》为行为准绳，遵守有关法律和行政法规，遵守社会公德。
                2. 遵守保险监管部门的相关规章和规范性文件，服从保险监管部门的监督与管理。
                3. 遵守保险行业自律组织的规则。
                4. 遵守所属保险经纪机构的管理规定。</p>
            <p>（二） 诚实信用
                5. 在执业活动的各个方面和各个环节中恪守诚实信用原则。
                6. 在执业活动中主动出示法定执业证件并将本人或所属保险经纪机构与保险公司的关系如实告知客户。
                7. 客观、全面地向客户介绍有关保险产品与服务的信息；如实向保险公司披露与投保有关的客户信息。</p>
            <p>（三） 专业胜任
                8. 执业前取得法定资格并具备足够的专业知识与能力。
                9. 在执业活动中加强业务学习，不断提高业务技能。
                10.参加保险监管部门、保险行业自律组织和所属保险经纪机构组织的考试和持续教育，使自身能够不断适应保险市场的发展。</p>
            <p>（四） 勤勉尽责
                11.秉持勤勉的工作态度，努力避免执业活动中的失误。
                12.代表客户利益，对于客户的各项委托尽职尽责，确保客户的利益得到最好保障，且不因劳务费（佣金）或服务费的高低而影响客户利益。
                13.忠诚服务，不侵害所属保险经纪机构利益；切实履行对所属保险经纪机构的责任和义务，接受所属保险经纪机构的管理。
                14.不擅自超越客户的委托范围或所属保险经纪机构的授权。
                15.在执业活动中主动避免利益冲突。不能避免时，应向客户或所属保险经纪机构作出说明，并确保客户和所属保险经纪机构的利益不受损害。</p>
            <p>（五） 友好合作
                16.与保险公司、保险代理机构和保险公估机构的从业人员友好合作、共同发展。
                17.加强同业人员间的交流与合作，实现优势互补、共同进步。</p>
            <p>（六） 公平竞争
                18.尊重竞争对手，不诋毁、贬低或负面评价保险公司、其他保险中介机构及其从业人员。
                19.依靠专业技能和服务质量展开竞争，竞争手段正当、合规、合法，不借助行政力量或其他非正当手段开展业务，不向客户给予或承诺给予保险合同以外的经济利益。
                （七） 保守秘密
                20.对客户和所属保险经纪机构负有保密义务。</p>

        </div>
        <div class="col-md-12 text-right" style="padding: 10px;">
            <button type="button" class="btn btn-default"
                    style="width: 20%" ng-click="close()">关闭
            </button>
        </div>
    </div>
</div>
