<div class="withdrawal_redPack_bg">
    <div class="row">
        <div class="text-center margin_right1 color_white" style="margin-top: 2%;margin-left: 8%;">
            奖励红包
        </div>
        <div class="text-right margin_right1" style="margin-top: -6%">
            <button type="button" class="close" ng-click="close()"> &times;</button>
        </div>
    </div>
    <div class="text-center">
        <img src="assets/img/redpack.png">
    </div>
    <div class="row">
        <div class="col-xs-12 margin_top2 text-center color_white">
            可领取奖励红包总额3434元
        </div>
        <div class="col-xs-12 margin_top2 padding_left_right6">
            <input ng-model="withdrawal.amount" class="form-control input-small margin_left_right10" style="height: 42px;padding-right: 20%" placeholder="请输入提现金额"/>
            <div class="color_yellow1" style="position: absolute;top: 15%;right: 10%;cursor: pointer">全部取出</div>
            <input ng-model="withdrawal.password" type="password" class="margin_top2 form-control input-small margin_left_right10" style="height: 42px;padding-right: 20%" placeholder="请输入提现密码"/>

        </div>
        <div class="col-xs-12 margin_top2 text-center cancel_col_padding">
            <button type="button" class="btn background_yellow1 color_white" style="font-size: 20px;margin-left: 10%;" ng-click="success()">立即领取</button>
        </div>
    </div>
</div>