<div>
    <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0;border: 0">
        <div class="container-fluid" style="background-color: #1E508F;height: 57px;">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <div class="brand">
                        <img src="assets/img/xinao_01.png" width="20%">

                    </div>
                    <div style="color: #fff; position: absolute;top: 14px;left: 5%;">
                        <span>ENN</span> <br>
                        <span style="font-size: 16px">猎场</span>
                    </div>
                </div>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav text-right" style="margin-bottom: 0;border: 0">
                    <li class="home">
                        <a ng-click="goHtml('home')" style="color: #fff;cursor: pointer">首页</a>
                    </li>
                    <li>
                        <div class="col-xs-4">
                            <img width="30px" height="30px" style="margin:10px;" src="">
                        </div>
                        <div class="col-xs-4" style="margin:10px 0">
                            <span
                                    style="color: #fff;cursor: pointer;padding-left:2px;font-size: 12px;line-height: 30px">
                                {{basicInformation.name}}
                            </span>
                        </div>
                        <div class="col-xs-4">
                            <span class="btn neptune_basic_button" style="color: #ffffff" ng-click="logout()">注销</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
