<div class="background_white" style="border-radius: 8px;position: relative;behavior:url('assets/css/PIE.htc');">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"> &times;</button>
        <h4 class="modal-title text-center">
            <button class="btn" style="float: right" ng-click="buyProduct(product.productId)">续保</button>
            保单详情
        </h4>

    </div>
    <div class="modal-body row">
        <div class="col-xs-12">
            <div>投保信息</div>
            <div class="row">
                <div class="col-xs-2">产品名称</div>
                <div class="col-xs-4">家庭综合财产保险-e家保</div>
                <div class="col-xs-2">保单号</div>
                <div class="col-xs-4">SDC22778867</div>
            </div>
            <div class="row">
                <div class="col-xs-2">保障期限</div>
                <div class="col-xs-4">1年</div>
                <div class="col-xs-2">终保日期</div>
                <div class="col-xs-4">2017-06-14</div>
            </div>
            <div class="row">
                <div class="col-xs-2">起保日期</div>
                <div class="col-xs-4">2016-10-16</div>
                <div class="col-xs-2">保费</div>
                <div class="col-xs-4">200</div>
            </div>
        </div>
        <hr>
        <div class="col-xs-12">
            <div>房屋地址</div>
            <div class="row">
                <div class="col-xs-2">详细地址</div>
                <div class="col-xs-10">河北省廊坊市爱民道。。。。。</div>
            </div>
            <div class="row">
                <div class="col-xs-2">房屋所在地</div>
                <div class="col-xs-10">廊坊市</div>
            </div>
        </div>
        <hr>
        <div class="col-xs-12">
            <div>被保人信息</div>
            <div class="row">
                <div class="col-xs-2">产品名称</div>
                <div class="col-xs-4">家庭综合财产保险-e家保</div>
                <div class="col-xs-2">保单号</div>
                <div class="col-xs-4">SDC22778867</div>
            </div>
            <div class="row">
                <div class="col-xs-2">保障期限</div>
                <div class="col-xs-4">1年</div>
                <div class="col-xs-2">终保日期</div>
                <div class="col-xs-4">2017-06-14</div>
            </div>
            <div class="row">
                <div class="col-xs-2">起保日期</div>
                <div class="col-xs-4">2016-10-16</div>
                <div class="col-xs-2">保费</div>
                <div class="col-xs-4">200</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div>投保人信息</div>
            <div class="row">
                <div class="col-xs-2">产品名称</div>
                <div class="col-xs-4">家庭综合财产保险-e家保</div>
                <div class="col-xs-2">保单号</div>
                <div class="col-xs-4">SDC22778867</div>
            </div>
            <div class="row">
                <div class="col-xs-2">保障期限</div>
                <div class="col-xs-4">1年</div>
                <div class="col-xs-2">终保日期</div>
                <div class="col-xs-4">2017-06-14</div>
            </div>
            <div class="row">
                <div class="col-xs-2">起保日期</div>
                <div class="col-xs-4">2016-10-16</div>
                <div class="col-xs-2">保费</div>
                <div class="col-xs-4">200</div>
            </div>
        </div>
    </div>
</div>