<!--待续订单-->

<!--搜索条件-->
<div class="row background_white margin_top_10" style="height: 50px;margin-left: 0"
     ng-if="isSwitchOrder !='4'">
    <div class="col-xs-5 margin_top1">
        <i class="glyphicon glyphicon-search" style="position: absolute;top: 26%;margin-left: 6%;"></i>
        <input class="form-control input-sm" style="padding-left: 7%;margin-left: 4%"
               ng-model="searchOrderKeywords.applicantName" ng-change="searchOrders()"
               placeholder="输入投保人姓名"/>
    </div>
    <div class="col-xs-1"
         ng-class="{true:'color_blue',false:'color_yellow1'}[texts[isSwitchOrder].isAdvanced]"
         style="margin-top: 1.5%;cursor: pointer" ng-click="switchAdvanced()">高级查询
    </div>
    <!--<div class="col-xs-2 neptune_select_div"-->
         <!--style="margin-left: 8%;width: 21%;">-->
        <!--<select class="neptune_orders_select" ng-model="searchOrderKeywords.payMethod" ng-change="searchOrders()">-->
            <!--<option value="">支付方式</option>-->
            <!--<option value="wx">微信</option>-->
            <!--<option value="zfb">支付宝</option>-->
            <!--<option value="xj">现金</option>-->
        <!--</select>-->
    <!--</div>-->
    <!--待操作订单查询条件-->
    <div class="col-xs-2" style="height: 100%;border-left:1px solid #E7E7E7;float: right">
        <select class="neptune_orders_select" ng-model="searchOrderKeywords.cycle" ng-change="searchOrders()">
            <option value="D">当天</option>
            <option value="W">当周</option>
            <option value="M">当月</option>
        </select>
    </div>

</div>
<div class="col-xs-12 background_white margin_top2" style="padding-left:0;">
    <!--查询条件-->
    <div ng-if="!texts[isSwitchOrder].isAdvanced">
        <div class="col-xs-12" style="margin: 5px 0 0 0;">
            <div class="row col-xs-6">
                <div class="col-xs-2 text-right" style="padding-top: 6px">
                    保险产品
                </div>
                <div class="col-xs-8">
                    <input type="text" ng-model="searchOrderKeywords.productName" class="form-control input-sm"/>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-2 text-right" style="padding-top: 6px">
                    地址
                </div>
                <div class="col-xs-8">
                    <input type="text" ng-model="searchOrderKeywords.applicantAddress" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="margin: 5px 0 0 0;">
            <div class="row col-xs-6">
                <div class="col-xs-2 text-right" style="padding-top: 6px">保费</div>
                <div class="col-xs-8">
                    <input type="number" ng-model="searchOrderKeywords.orderTotal" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center" style="margin:15px">
            <button type="button" class="btn btn-default" ng-click="searchOrders()" style="width: 100px;">搜索</button>
        </div>
        <div class="col-xs-12" style="border-bottom: 1px solid #bbb;width: 96%;margin-left: 2%"></div>
    </div>
    <!--更多-->
    <div class="col-xs-12" style="height: 40px">
        <div class="col-xs-5 text-left neptune_orders_head">
            <img src="assets/img/file.png" width="13px" class="neptune_orders_margin">
            <span class="neptune_orders_font">待续保订单</span>
        </div>
        <div class=" text-right" style="margin-top: 8px;margin-right: 4%" >
             <span ng-if="waitRenewOrders.length " style="padding: 0 10px" class="font_size_12">
                合计单数：<span class="color_yellow1 font_size_16">{{ordersNum}}</span>&nbsp;&nbsp;
            </span>
        </div>
    </div>
    <div ng-if="waitRenewOrders.length">
        <table class="table operateTable table-bordered table_center" style="width: 94%;table-layout: fixed;margin-left: 3%;margin-top: 2px">
            <tr>
                <th class="neptune_table_th" style="width: 180px">保单号</th>
                <th class="neptune_table_th">投保人姓名</th>
                <th class="neptune_table_th">保险产品</th>
                <th class="neptune_table_th">购买日期</th>
                <th class="neptune_table_th">有效期</th>
                <th class="neptune_table_th" style="width: 200px">地址</th>
                <th class="neptune_table_th">金额</th>
                <th class="neptune_table_th">操作</th>
            </tr>
            <tr ng-repeat="waitRenewOrder in waitRenewOrders">
                <td class="neptune_orders_show">
                    <span style="color: blue;cursor: pointer;" ng-click="openOrderDetails(waitRenewOrder.orderId,'保单')">
                        {{waitRenewOrder.policyNo}}
                    </span>
                </td>
                <td class="neptune_orders_show">{{waitRenewOrder.applicantName}}</td>
                <td class="neptune_orders_show">{{waitRenewOrder.productName}}</td>
                <td>{{waitRenewOrder.createDate}}</td>
                <td class="neptune_orders_show">{{waitRenewOrder.effectiveDate}} - {{waitRenewOrder.expiryDate}} </td>
                <td class="neptune_orders_show">{{waitRenewOrder.applicantAddress}}</td>
                <td>{{waitRenewOrder.orderTotal}}</td>
                <td ng-click="goToRenewal(waitRenewOrder.productId,waitRenewOrder.orderId)" style="color: blue;cursor: pointer;">续保</td>
            </tr>
        </table>

        <!--<div class="col-xs-12 text-right" style="padding-right:35px">-->
            <!--<select class="input-sm">-->
                <!--<option>excel格式</option>-->
                <!--<option>pdf格式</option>-->
            <!--</select>-->
            <!--<span>-->
                <!--<img src="assets/img/export.png">-->
                <!--导出-->
            <!--</span>-->
        <!--</div>-->
    </div>
    <div class="col-xs-12 text-right" ng-if="waitRenewOrders.length" style="padding-right:35px">
        <!--<select class="input-sm">-->
        <!--<option>excel格式</option>-->
        <!--<option>pdf格式</option>-->
        <!--</select>-->
        <button type="button" class="btn btn-default btn-sm" ng-click="orderExport()">导出</button>
    </div>
    <div ng-if="!waitRenewOrders.length">
        <div class="text-center" style="padding: 30px;">
            没有待续保订单
        </div>
    </div>
    <!--分页-->

    <div ng-if="waitRenewOrders.length" class="col-xs-12 row margin_top2 text-center background_white" style="margin-left: 0">
        <pagination
                ng-model="pagination.pageIndex"
                total-items="pagination.totalItems"
                page="pagination.pageIndex"
                items-per-page="pagination.pageSize"
                max-size="pagination.maxSize"
                previous-text="{{pagination.previousText}}"
                next-text="{{pagination.nextText}}"
                first-text="{{pagination.firstText}}"
                last-text="{{pagination.lastText}}"
                class="pagination-small"
                boundary-links="true"
                ng-click="searchOrders()">
        </pagination>
    </div>
</div>
