<div style="background-color: #fff" >
    <div class="modal-header text-center">
       请选择地址
    </div>
    <div id="mapContainer" class="modal-body text-center" style="height:400px;margin:15px;overflow: hidden"></div>
    <div class="modal-footer" style="margin: 20px 0;padding: 20px">
        <div class="col-xs-10 text-left">
            <div ng-show="addrCode.X">
                {{addr}}<br/>X={{addrCode.X}},Y={{addrCode.Y}}
            </div>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary text-right"  ng-click="closeAddr()">确定</button>
        </div>
    </div>
</div>

