<div style="background-color: #fff" >
    <div class="modal-header text-center">
        <div class="input-group">
            <span ng-if="modalFuzzySearch.type==='city'" class="input-group-addon" id="basic-addon1"><span class="color_red">*</span>所在城市</span>
            <span ng-if="modalFuzzySearch.type==='village'" class="input-group-addon" id="basic-addon1"><span class="color_red">*</span>所在小区</span>
            <span ng-if="modalFuzzySearch.type==='building'" class="input-group-addon" id="basic-addon1"><span class="color_red">*</span>所在楼栋</span>
            <span ng-if="modalFuzzySearch.type==='roomNumber'" class="input-group-addon" id="basic-addon1">房间号</span>
            <input type="text" class="form-control"
                   aria-describedby="basic-addon1"
                   ng-model="modalFuzzySearch.searchValue"
                   ng-change="changeCity(true)"
                   class="form-control"
                   style="margin-right: 30px;padding-left: 10px;"
                   type="text" >
        </div>
    </div>
    <div class="modal-body text-center" style="margin:15px;overflow: hidden">
        <ul class="list-group">
            <a class="list-group-item" href="" ng-repeat="result in modalFuzzySearch.results track by $index" ng-click="closeModalFuzzySearch(result)">
                {{result}}
            </a>
        </ul>
        <div ng-if="!modalFuzzySearch.results || modalFuzzySearch.results.length==0" class="text-center full-image">未查询到信息</div>
        <!--分页-->
        <div ng-if="modalFuzzySearch.results.length>0" class="col-xs-12 row margin_top2 text-center background_white"
             style="margin-left: 0">
            <pagination
                    ng-model="modalFuzzySearch.pageIndex"
                    total-items="modalFuzzySearch.totalItems"
                    page="modalFuzzySearch.pageIndex"
                    items-per-page="modalFuzzySearch.pageSize"
                    max-size="modalFuzzySearch.maxSize"
                    previous-text="{{modalFuzzySearch.previousText}}"
                    next-text="{{modalFuzzySearch.nextText}}"
                    first-text="{{modalFuzzySearch.firstText}}"
                    last-text="{{modalFuzzySearch.lastText}}"
                    class="pagination-small"
                    boundary-links="true"
                    ng-click="changeCity()">
            </pagination>
        </div>
    </div>
    <div class="modal-footer" style="margin: 20px 0;padding: 20px">
        <div class="col-xs-12 text-center">
            <button class="btn btn-danger"  ng-click="closeModal()">取消</button>
        </div>
    </div>
</div>

