<div style="background-color: #fff" >
    <div class="modal-header text-center">
       搜索结果
    </div>
    <div class="modal-body text-center" style="overflow: hidden;padding-bottom: 0;">
        <ul class="list-group">
            <a href="" class="list-group-item" style="padding: 10px 0 0 0" ng-repeat="houseinfo in searchKeyWords.houseinfos" ng-click="closeModalHouse(houseinfo)">
                <span class="input-label">姓名:{{houseinfo.name_last}}</span>
                <p style="width: 100%;white-space:normal">地址:{{houseinfo.address}}</p>
            </a>
        </ul>
        <!--分页-->
        <div ng-if="searchKeyWords.houseinfos.length>0" class="col-xs-12 row text-center background_white"
             style="margin-left: 0">
            <pagination
                    ng-model="searchKeyWords.pageIndex"
                    total-items="searchKeyWords.totalItems"
                    page="searchKeyWords.pageIndex"
                    items-per-page="searchKeyWords.pageSize"
                    max-size="searchKeyWords.maxSize"
                    previous-text="{{searchKeyWords.previousText}}"
                    next-text="{{searchKeyWords.nextText}}"
                    first-text="{{searchKeyWords.firstText}}"
                    last-text="{{searchKeyWords.lastText}}"
                    class="pagination-small"
                    boundary-links="true"
                    ng-click="changePage()">
            </pagination>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-xs-12 text-center">
            <button class="btn btn-danger"  ng-click="closeModalHouse()">取消</button>
        </div>
    </div>
</div>

