<div class="col-xs-12" style="padding:0; min-height: 585px;background-color: #F0F0F2">
    <div class="col-xs-12" style="margin-top: 15px;;background-color: #F0F0F2" multiple-form
         is-verification="isVerification" is-complete="isComplete" cue-way="layer">
        <div class="col-xs-1"></div>
        <div class="col-xs-10" style="padding-left:0;background-color: #fff;border: 1px solid #BBB">
            <div class="col-xs-12 text-right" style="border-bottom: 1px solid #BBB;margin-bottom: 10px">
                <div class="text-left" style="float: left;margin: 10px 10px 10px 0;font-size: 16px;">
                    <img src="assets/img/head+.png" width="20px" height="20px" style="margin-top: -4%">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册外部代理
                </div>
                <div style="margin: 10px 10px 10px 0">已有账号？<span class="color_yellow1 hand"
                                                                 ng-click="goToLogin()">立即登录</span>
                </div>
            </div>
            <div class="col-xs-12" style="margin: 5px 0 0 0;">
                <div class="row col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        手机号
                    </div>
                    <div class="col-xs-8">
                        <input type="tel" rule="phone;require" err-text="手机号填写错误" ng-model="register.phone" class="form-control input-sm"/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        姓名
                    </div>
                    <div class="col-xs-8">
                        <input type="text" rule="require" err-text="姓名填写错误" ng-change="nameChange()" ng-model="register.name"
                               class="form-control input-sm"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin: 5px 0 0 0;">
                <div class="row col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        密码
                    </div>
                    <div class="col-xs-8">
                        <input type="password" rule="require" err-text="密码未填写" ng-model="register.password"
                               class="form-control input-sm"/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        密码确认
                    </div>
                    <div class="col-xs-8">
                        <input type="password" rule="require" err-text="密码确认未填写" ng-model="register.rpPassword"
                               class="form-control input-sm"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin: 5px 0 0 0;">
                <div class="row col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        性别
                    </div>
                    <div class="col-xs-8">
                        <div class="col-xs-6 text-center">
                            <input type="radio" name="sex"
                                   ng-checked="true"
                                   ng-value="1"
                                   ng-model="register.sex"/>男
                        </div>
                        <div class="col-xs-6 text-center">
                            <input type="radio" name="sex"
                                   ng-value="2"
                                   ng-model="register.sex"/>女
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        邮编
                    </div>
                    <div class="col-xs-8">
                        <input type="number" rule="require"
                               err-text="请输入邮编" ng-model="register.secondZipCode"
                               class="form-control input-sm"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin: 5px 0 0 0;">
                <div class="row col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        乙方
                    </div>
                    <div class="col-xs-8">
                        <input type="text" disabled rule="require" ng-model="register.secondParty"
                               class="form-control input-sm"/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        经营范围
                    </div>
                    <div class="col-xs-8">
                        <select disabled class="form-control input-sm">
                            <option value="">全国</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin: 5px 0 0 0;">
                <div class="row col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        家庭住址
                    </div>
                    <div class="col-xs-8">
                        <input type="text" rule="require" err-text="家庭住址填写错误" ng-model="register.homeAddress"
                               class="form-control input-sm"/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        身份证号
                    </div>
                    <div class="col-xs-8">
                        <input type="tel" ng-model="register.iDCardNo" err-text="身份证号填写错误" rule="require;cardCode"
                               class="form-control input-sm"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-3" style="padding-top: 11px;margin-right: -8.5%;">
                    经纪归属机构
                </div>
                <div class="col-xs-8" style="padding-top: 6px">
                    <div id="treeView" class=""></div>
                </div>
            </div>
            <div class="col-xs-12" style="margin: 5px 0 0 0;">
                <div class="row col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        公司地址
                    </div>
                    <div class="col-xs-8">
                        <input type="text" style="width: 130%"
                               disabled
                               ng-model="register.companyAddress"
                               class="form-control input-sm"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin: 5px 0 0 0;">
                <div class="row col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        归属机构
                    </div>
                    <div class="col-xs-8">
                        <input disabled
                               style="width: 130%"
                               ng-model="register.companyAddress"
                               type="text" class="form-control input-sm"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin: 5px 0 0 0;">
                <div class="row col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        甲方
                    </div>
                    <div class="col-xs-8">
                        <input type="text"
                               disabled
                               ng-model="register.firstParty"
                               class="form-control input-sm"/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        邮政编码
                    </div>
                    <div class="col-xs-8">
                        <input type="text"
                               disabled
                               ng-model="register.firstZipCode" class="form-control input-sm"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin: 5px 0 0 0;">
                <div class="row col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        合同起期
                    </div>
                    <div class="col-xs-8">
                        <!--ng-click="selectDate('startDate')"-->
                        <input id="startDate"
                               type="text"
                               class="form-control input-sm"
                               placeholder="请选择"
                               ng-model="register.contractPeriod"
                               readonly disabled/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-2 text-right" style="padding-top: 6px">
                        合同止期
                    </div>
                    <div class="col-xs-8">
                        <input id="endDate"
                               type="text"
                               class="form-control input-sm"
                               placeholder="请选择"
                               ng-model="register.contractEnd"
                               ng-click="selectDate('endDate')"
                               readonly disabled/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center" style="margin-bottom: 10px">
                <div style="margin: 3% 10px 10px 0;font-size: 14px;">
                    <div class="col-xs-5 text-right" style="padding-top: 6px">
                        <input type="checkbox" ng-model="register.isPass" ng-true-value="true" ng-false-value="false">
                    </div>
                    <div class="col-xs-3 text-left" ng-click="openWorkAgreement()"
                         style="line-height: 34px;">
                        我已认真阅读并同意<span class="color_yellow1 hand">《代理协议》</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center" style="margin-bottom: 15px">
                <button type="button" class="btn background_yellow1" ng-click="externalRegistration()"
                        style="width: 100px;color: #ffffff">注册
                </button>
            </div>
        </div>
    </div>
</div>

