<div class="neptune_bankCard_div">
    <div class="col-xs-3 margin_top3 background_black_color margin_left2 cancel_col_padding bankCard_radius text-center"
    ng-class="{'background_blue':user.bankCard,'hand':!user.bankCard}" ng-click="openModifyBankCard(!user.bankCard)">
        <div ng-if="!user.bankCard" style="margin-top: 30%;font-size: 16px">添加银行卡</div>
        <div ng-if="user.bankCard" class="text-left">
            <div class="col-xs-12 color_white font_size_25 margin_top3 text-center">
                <!--<img width="30px" src="assets/img/bank_card_logo.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                {{user.bankCard.bank_name}}
            </div>
            <div ng-if="!basicInfo.bankCardNoShow" class="col-xs-12 margin_top10 color_white font_size_16 text-center">
                <span ng-repeat="i in user.bankCard.bankCardLengths">
                    <span ng-if="i%4==0&&i>0">&nbsp;</span>*
                </span>
                {{user.bankCard.bank_no.substring(user.bankCard.bank_no.length-3,user.bankCard.bank_no.length)}}
                <span class="color_white hand" ng-click="basicInfo.bankCardNoShow = true">&nbsp;&nbsp;查看</span>
            </div>
            <div ng-if="basicInfo.bankCardNoShow" class="col-xs-12 margin_top10 color_white font_size_16 text-center">
                <span ng-repeat="i in user.bankCard.bankCardLengths">
                    <span ng-if="i%4==0&&i>0">&nbsp;</span>
                    {{user.bankCard.bank_no.substring(i,i+1)}}
                </span>
                {{user.bankCard.bank_no.substring(user.bankCard.bank_no.length-3,user.bankCard.bank_no.length)}}
                <span class="color_white hand" ng-click="basicInfo.bankCardNoShow = false">&nbsp;&nbsp;隐藏</span>
            </div>
            <div class="col-xs-12 margin_top20 color_white text-right">{{user.bankCard.user_idcard_name}}</div>
        </div>
        <div ng-if="user.bankCard" style="margin-top: 25%">
            <!--8月后再打开-->
            <!--<button ng-click="forgotWithdrawals()">忘记密码</button>-->
            <button class="margin_top10" ng-click="confirmBack($event)">解绑银行卡</button>
        </div>
    </div>

</div>

