<div class="col-xs-10 margin_top3 cancel_col_padding">
    <div ng-if="!questions||questions.length===0 " class="col-xs-12 background_white" style="width: 98%;margin-left: 10px;padding-left: 0">
        <div ng-if="user.isPassed === 'UNPASSED'">
         <div style="font-size: 24px" class="text-center margin_top2">新奥能源保险执业考试</div>
            <div style="margin-top: 2%;margin-left: 25%;font-size: 18px;">
                <div class="text-left">考试说明:</div>
                1、总分100分，通过分数60，时间120分钟，题型分为单选和判断。<br>
                2、考试过程中试卷右上角显示倒计时，可随时查看考试剩余时间。<br>
                3、点击“开始答题”进入考试，答题完毕后点击“交卷”，系统会自动给出本次考试结果。
            </div>
        </div>
        <div>

        </div>
        <div class="col-xs-12 text-center" style="margin-top: 2%;margin-bottom: 2%" ng-if="user.isPassed === 'UNPASSED'">
            <button class="btn btn-warning" ng-click="getQuestions()">开始答题</button>
        </div>
    </div>

    <div class="text-center" ng-if="user.isPassed !== 'UNPASSED'" style="font-size: 32px;margin-top: 10%">
        <div class="text-center">
            考试得分：{{getResults}}！
        </div>
        恭喜您,已通过执业考试
    </div>

    <div ng-if="questions&&questions.length>0" class="col-xs-12 background_white" style="width: 98%;margin-left: 10px;padding-left: 0">
        <div class="col-xs-12" style="padding-right: 2%;margin-top: 1.8%;text-align: right">剩余时间：{{examination.time}}</div>
        <div class="col-xs-12" style="border-bottom: 1px solid grey;margin: 1% 0 1% 0;"></div>
        <div style="margin: 0 6% 0 6%">
            <div class="col-xs-12">
                {{questions[examination.index].number}}.
                &nbsp;&nbsp;<span>{{questions[examination.index].queDesc}}</span>
            </div>
            <div ng-if="GetRTimeInterval" class="col-xs-12 hand" style="margin-top: 1%;margin-left: 3%;"
                 ng-repeat="answer in questions[examination.index].answers | orderBy:'ordNumber'"
                 ng-click="questions[examination.index].userAnswer = answer.answerValue">
                <input ng-value="answer.answerValue"
                       ng-model="questions[examination.index].userAnswer"
                       name="{{questions[examination.index].queId}}" type="radio">{{answer.answerDesc}}
            </div>
        </div>
        <div class="col-xs-12 text-center" style="margin-bottom: 2%;">
            <button id="upQuestion" ng-if="examination.index>0&&GetRTimeInterval" class="btn btn-default" ng-click="!GetRTimeInterval || nextOrUpQuestions('up')">上一题</button>
        <!--</div>-->
        <!--<div class="col-xs-4 text-right" style="margin-bottom: 2%;">-->
            <button class="btn btn-default" ng-click="examination.isAllow || submitExamination()" >交卷</button>
        <!--</div>-->
        <!--<div class="col-xs-4" style="margin-bottom: 2%;">-->
            <button id="nextQuestion" ng-if="examination.index<questions.length-1&&GetRTimeInterval" class="btn btn-default" ng-click="!GetRTimeInterval || nextOrUpQuestions('next')">下一题</button>
        </div>
    </div>
</div>