<!--<div class="col-xs-8 margin_top3 margin_left2 cancel_col_padding padding_bottom3">-->
<!--<div class="row background_white" style="height: 50px;margin-left: 0">-->
<!--<div class="col-xs-6 margin_top1">-->
<!--<input ng-model="cashRecordsKeyWords.bank_card_id" class="form-control input-sm " placeholder="银行账号"/>-->
<!--</div>-->
<!--<div class="col-xs-1  hand"-->
<!--ng-class="{true:'color_blue',false:'color_yellow1'}[isSenior]"-->
<!--style="margin-top: 1.5%" ng-click="switchIsSenior()">高级查询-->
<!--</div>-->
<!--</div>-->
<!--<div class="row background_white text-center" ng-if="!isSenior" style="margin-left: 0">-->
<!--<div class="col-xs-6 margin_top1">-->
<!--<input id="startDate" ng-click="selectDate('startDate')" class="form-control input-sm"-->
<!--ng-model="cashRecordsKeyWords.start_date" placeholder="请输入申请起始日期"/>-->
<!--</div>-->
<!--<div class="col-xs-6 margin_top1">-->
<!--<input id="endDate" ng-click="selectDate('endDate')" class="form-control input-sm"-->
<!--ng-model="cashRecordsKeyWords.end_date" placeholder="请输入申请终止日期"/>-->
<!--</div>-->
<!--<button class="btn btn-default margin_top1"> 搜索</button>-->
<!--</div>-->
<!--<div class="col-xs-12 margin_top3 background_white padding_10" ng-style="withdrawalHeight">-->
<!--<table class="col-xs-12">-->
<!--<tr class="border_grey_full background_gray2">-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">申请时间</td>-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">提现金额</td>-->
<!--&lt;!&ndash;<td class="border_grey_full text-center padding_top_bottom_6">下单时间</td>&ndash;&gt;-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">银行账号</td>-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">到账时间</td>-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">状态</td>-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">持卡人</td>-->
<!--</tr>-->
<!--<tr class="border_grey_full">-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">2016-06-23</td>-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">100</td>-->
<!--&lt;!&ndash;<td class="border_grey_full text-center padding_top_bottom_6">2016-06-23</td>&ndash;&gt;-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">1234 1234 1234 1234 123</td>-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">2016-06-23</td>-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">处理中</td>-->
<!--<td class="border_grey_full text-center padding_top_bottom_6">张三</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<div class="col-xs-10  cancel_col_padding text-center" style="margin-top: 17%;font-size: 50px;">
    敬请期待
</div>