<div class="col-xs-12" style="padding:0">
    <div class="col-xs-12" style="padding:0">
        <header></header>
        <div class="col-xs-12 background_gray2" style="margin-top: 20px">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 background_white">
                <div class="col-xs-4 text-center" style="margin: 10px 0;padding-top: 1%;">
                    订单号：{{orderId}}
                </div>
                <div class="col-xs-4 text-center" style="margin: 10px 0;padding-top: 1%;">
                    修改订单
                </div>
                <div class="col-xs-4 text-right" style="margin: 10px 0;padding-right: 2%;">
                    <button class="btn btn-danger" ng-click="goToPage()">取消</button>
                </div>
                <div class="col-xs-12 text-left" style="padding:0 10px" multiple-form is-verification="isVerification"
                     is-complete="isComplete" cue-way="layer" result="setKeyWords()">
                    <div ng-repeat="insure in insureMoulds  | orderBy:'insureMouldIndex'"
                         class="col-xs-12 text-left background_white"
                         on-finish-render-filters
                         style="margin: 10px 0;padding:0 10px;border:solid 1px #bbb;">
                        <div class="col-xs-6 text-left color_green background_white" style="margin: 10px 0">
                            {{insure.mouldTypeName}}
                        </div>
                        <div class="col-xs-12" style="padding:0;margin:0">
                            <hr style="margin: 0;padding:0;"/>
                        </div>

                        <div class="col-xs-12 text-left" style="margin: 10px 0;padding:0 10px 10px 0;">
                            <div ng-repeat="mould in insure.mouldFactors | orderBy:'sortNumber'" class="col-xs-6"
                                 on-finish-render-filters
                                 ng-show="mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                 style="margin: 5px 0 0 -6%;">
                                <div class="col-xs-5 text-right" style="padding-top: 10px">
                                    {{mould.inputName}}
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control full_width"
                                           ng-init="insureInfo[insure.mouldType][mould.inputCode]=mould.defaultValue"
                                           ng-model="insureInfo[insure.mouldType][mould.inputCode]"
                                           ng-change="validType(mould.inputCode,mould.templateCorrelationVl,insure.mouldType)"
                                           ng-show="mould.inputType=='input' && mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                           placeholder="{{mould.promptValue}}"
                                           ng-disabled="mould.isEnabled=='N'"
                                           value="{{insureInfo[insure.mouldType][mould.inputCode]}}"
                                           rule="{{mould.isMustInput=='Y'?'require':''}};{{mould.validType}}"
                                           err-text="{{insure.mouldTypeName}}{{mould.inputName}}填写错误"/>
                                    <select type="text" class="form-control full_width"
                                            ng-init="insureInfo[insure.mouldType][mould.inputCode]=mould.defaultValue"
                                            ng-model="insureInfo[insure.mouldType][mould.inputCode]"
                                            ng-change="validType(mould.inputCode,mould.templateCorrelationVl,insure.mouldType)"
                                            ng-show="mould.inputType=='select' && mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                            placeholder="{{mould.promptValue}}"
                                            ng-disabled="mould.isEnabled=='N'"
                                            value="{{insureInfo[insure.mouldType][mould.inputCode]}}"
                                            rule="{{mould.isMustInput=='Y'?'require':''}};{{mould.validType}}"
                                            err-text="{{insure.mouldTypeName}}{{mould.inputName}}填写错误"
                                            ng-options="property.codeValue as property.codeName for property in mould.propertyInfoList">
                                    </select>
                                    <div ng-show="mould.inputType=='radio'">
                                        <div class="col-xs-6 margin_top3" style="padding: 0">
                                            <input type="radio" name="{{insure.mouldType}}mailType"
                                                   ng-checked="insureInfo[insure.mouldType][mould.inputCode]=='PH'"
                                                   ng-value="'PH'"
                                                   ng-click="selectSalesman('PH')"
                                                   ng-init="insureInfo[insure.mouldType][mould.inputCode]=mould.defaultValue"
                                                   ng-model="insureInfo[insure.mouldType][mould.inputCode]"
                                                   ng-show="mould.inputType=='radio' && mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                                   placeholder="{{mould.promptValue}}"
                                                   ng-disabled="mould.isEnabled=='N'"
                                                   rule="{{mould.isMustInput=='Y'?'require':''}}"/>投保人邮箱
                                        </div>
                                        <div class="col-xs-6 margin_top3" style="padding: 0">
                                            <input type="radio" name="{{insure.mouldType}}mailType"
                                                   ng-checked="insureInfo[insure.mouldType][mould.inputCode]=='SM'"
                                                   ng-value="'SM'"
                                                   ng-click="selectSalesman('SM')"
                                                   ng-init="insureInfo[insure.mouldType][mould.inputCode]=mould.defaultValue"
                                                   ng-model="insureInfo[insure.mouldType][mould.inputCode]"
                                                   ng-show="mould.inputType=='radio' && mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                                   ng-disabled="mould.isEnabled=='N'"
                                                   rule="{{mould.isMustInput=='Y'?'require':''}}"/>业务员邮箱
                                        </div>
                                    </div>
                                    <input id="{{insure.mouldType+mould.inputCode}}" type="text"
                                           class="form-control full_width"
                                           ng-init="insureInfo[insure.mouldType][mould.inputCode]=mould.defaultValue"
                                           ng-model="insureInfo[insure.mouldType][mould.inputCode]"
                                           ng-click="selectDate(insure.mouldType+mould.inputCode,insure.mouldType,mould)"
                                           ng-show="mould.inputType=='date' && mould.isDisplay=='Y' &&((insure.mouldType=='B' && (insureInfo['A']['insuredRelationCode']==selfCode))?mould.doIshow=='Y':true)"
                                           ng-disabled="mould.isEnabled=='N'"
                                           value="{{insureInfo[insure.mouldType][mould.inputCode]}}"
                                           placeholder="{{mould.promptValue}}"/>
                                </div>
                            </div>
                            <!--先隐藏本功能-->
                            <div ng-if="insure.mouldType.indexOf('B')>-1&&insure.insuredIndex==insuredIndex&&insure.insuredIndex<2&&insuredIndex==-1"
                                 class="col-xs-12 text-center" style="padding:0;margin:0;margin-top: 1%">
                                <hr style="margin: 0;padding:0;"/>
                                <div class="add_circle" ng-click="addInsured(insure.insuredIndex)">+</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 background_white"
                         style="margin: 10px 0 20px 0;padding: 10px;border:solid 1px #bbb;">
                        <div class="col-xs-6" style="margin-left: -5%">
                            <div class="col-xs-4 text-right" style="padding-top: 10px">
                                保险起期
                            </div>
                            <div class="col-xs-8">
                                <input id="startDate" type="text"
                                       style="cursor: pointer"
                                       class="form-control full_width"
                                       ng-model="insureInfo.startDate"
                                       ng-click="selectDate('startDate')"
                                       value="{{insureInfo.startDate}}"/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-4 text-right" style="padding-top: 10px">
                                保险止期
                            </div>
                            <div class="col-xs-8">
                                <input id="endDate" type="text"
                                       class="form-control full_width"
                                       ng-model="insureInfo.endDate"
                                       ng-click="selectDate('endDate')"
                                       value="{{insureInfo.endDate}}"
                                       ng-disabled="true" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 background_white"
                         style="margin: 10px 0 20px 0;padding: 0;border:solid 1px #bbb;">
                        <div class="col-xs-12 text-center " style="padding: 10px 0">
                            <span class="col-xs-6 text-right" style="line-height: 40px">
                                <!--<div class="col-xs-3">是否现金支付</div>-->
                                <!--<div class="col-xs-9 text-right">-->
                                <!--&lt;!&ndash;<input type="checkbox" mc-toggle ng-model="insureInfo.ifPayInCash">&ndash;&gt;-->
                                <!--<div class="col-xs-6">-->
                                <!--<input type="radio" name="ifPayInCash"-->
                                <!--ng-model="insureInfo.ifPayInCash"-->
                                <!--ng-checked="insureInfo.ifPayInCash"-->
                                <!--ng-value="true"/>现金-->
                                <!--</div>-->
                                <!--<div class="col-xs-6">-->
                                <!--<input type="radio" name="ifPayInCash"-->
                                <!--ng-model="insureInfo.ifPayInCash"-->
                                <!--ng-checked="!insureInfo.ifPayInCash"-->
                                <!--ng-value="false"/>非现金-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<span class="glyphicon glyphicon-record font_size_16" style="cursor: pointer"-->
                                <!--ng-class="{color_yellow1:insureInfo.ifPayInCash}" ng-click="choosePayByCash()"></span>-->
                                <!--<span class="font_size_16" style="cursor: pointer"-->
                                <!--ng-click="choosePayByCash()"></span>-->
                            </span>
                            <span class="col-xs-4 text-right font_size_20" style="padding: 5px 0">
                                 <!--期数：<span class="hand" ng-click="numberChange('add')">+</span>-->
                                <!--<input type="tel"-->
                                       <!--style="width: 35px;height: 25px;font-size: 10px;"-->
                                       <!--onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"-->
                                       <!--ng-change="numberChange()"-->
                                       <!--ng-model="productNumber">-->
                                <!--<span class="hand" style="margin-right: 5%" ng-click="numberChange('delete')">-</span>-->
                               ￥{{initPrem}}
                            </span>
                            <button class="btn btn-warning" ng-disabled="isPay" style="margin: 0 10px 0 0" isComplete ng-click="isPay || complete()">确认修改
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


