<div class="col-xs-12" style="padding: 0">
    <div class="col-xs-10 col-lg-offset-1">
        <div class="col-xs-2 card" style="background: white;padding: 0;">
            <div class="background_blue text-center font_color_black1" style="padding: 8px;font-size: 20px">
                项目导航栏
            </div>
            <div class="margin_top3 text-center qualificationsList_menu_title mouse_gesture"
                 ng-click="switchView('资质','建设部')">
                建设部资质
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('政策解读','建设部')">
                政策解读
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('公示公告','建设部')">
                公示公告
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('行业新闻','建设部')">
                行业新闻
            </div>

            <div class=" text-center margin_top2  qualificationsList_menu_title mouse_gesture"
                 ng-click="switchView('资质','北京')">
                北京资质
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('政策解读','北京')">
                北京市建委政策
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('公示公告','北京')">
                公示公告
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('行业新闻','北京')">
                行业新闻
            </div>
            <div class=" text-center margin_top2  qualificationsList_menu_title mouse_gesture"
                 ng-click="switchView('资质','上海')">
                上海资质
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('政策解读','上海')">
                上海建委政策
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('公示公告','上海')">
                公示公告
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('行业新闻','上海')">
                行业新闻
            </div>
            <div class=" text-center margin_top2  qualificationsList_menu_title mouse_gesture"
                 ng-click="switchView('资质','山西')">
                山西资质
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('政策解读','山西')">
                山西建委政策
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('公示公告','山西')">
                公示公告
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('行业新闻','山西')">
                行业新闻
            </div>
            <div class=" text-center margin_top2  qualificationsList_menu_title mouse_gesture"
                 ng-click="switchView('资质','陕西')">
                陕西资质
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('政策解读','陕西')">
                陕西建委政策
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('公示公告','陕西')">
                公示公告
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('行业新闻','陕西')">
                行业新闻
            </div>
            <div class=" text-center margin_top2  qualificationsList_menu_title mouse_gesture"
                 ng-click="switchView('资质','山东')">
                山东资质
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('政策解读','山东')">
                山东建委政策
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('公示公告','山东')">
                公示公告
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('行业新闻','山东')">
                行业新闻
            </div>
            <div class=" text-center margin_top2  qualificationsList_menu_title mouse_gesture"
                 ng-click="switchView('资质','河北')">
                河北资质
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('政策解读','河北')">
                河北建委政策
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 ng-click="switchView('公示公告','河北')">
                公示公告
            </div>
            <div class=" text-center margin_top2 qualificationsList_menu mouse_gesture"
                 style="margin-bottom: 10%"
                 ng-click="switchView('行业新闻','河北')">
                行业新闻
            </div>
        </div>
        <div class="col-xs-10">
            <div ng-if="active=='资质动态'" ng-include="'qualifications/qualificationsDT.html'"></div>
            <div ng-if="active=='资质'" ng-include="'qualifications/qualificationsZZ.html'"></div>
            <div ng-if="active=='政策解读'" ng-include="'qualifications/qualificationsZC.html'"></div>
            <div ng-if="active=='公示公告'" ng-include="'qualifications/qualificationsGG.html'"></div>
            <div ng-if="active=='行业新闻'" ng-include="'qualifications/qualificationsXW.html'"></div>
            <div ng-if="active=='单个地区'" ng-include="'qualifications/qualificationSingle.html'"></div>
            <div ng-if="active=='详情'" ng-include="'qualifications/qualificationsXQ.html'"></div>
        </div>
    </div>
</div>