<div style="height: 500px;width:720px;background-color: white">
    <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close" ng-click="close()"> &times;</button>
    </div>
    <div class="modal-body">
        <div class="text-center" style="margin-top: 70px">
            <img src="assets/img/pay_success.png">
        </div>
        <div class="text-center" style="font-size: 20px;padding: 10px">恭喜您，修改密码成功！</div>
        <div class="col-md-12 text-center" style="padding: 20px;">
            <button type="button" class="btn btn-default"
                    style="background-color: #FFB900;color: #ffffff;border: none;"
                    ng-click="goToLogin()">登录
            </button>
        </div>
    </div>
</div>
